<r:partial name="patterns/wvu-hero" />

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
</div>

<h2 class="element-header">Hero Unit with Shout</h2>

<div class="wvu-hero" style="background-image: url(../images/wvu-pattern-close.jpg);">
	<div class="wvu-hero__container">
		<h1 class="shout shout--white">Mountaineers<br><span class="u-wvu-gold">Go First.</span></h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $wvu-hero-background: $blue-pattern-background;
</pre>
</div>

<h2 class="element-header">Hero Unit with Shout and Photo Diagonal Line</h2>

<div class="wvu-hero wvu-hero--diagonal-line">
	<div class="wvu-hero__container">
		<h1>It Starts<br><span class="u-wvu-gold">Now.</span></h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $has-diagonal-line: true;
</pre>
</div>

<h2 class="element-header">Hero Unit with Busy Photo + Vignetting</h2>

<div class="wvu-hero wvu-hero--vignetting">
	<div class="wvu-hero__container">
		<h1>It Starts<br><span class="u-wvu-gold">Now.</span></h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $has-vignetting: true;
  // use this when you have a background image that is busy and renders the typography illegible
</pre>
</div>

<h2 class="element-header">Hero Unit with Medium Shout and Photo</h2>

<div class="wvu-hero wvu-hero--medium-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
	<div class="wvu-hero__container">
		<h1>This is<br>Where<br>Ideas<br>Come<br><span class="u-wvu-gold">First.</span></h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $shout-length: 'medium';
  // use this when you have a longer headline so as to shrink the text size and padding
</pre>
</div>

<h2 class="element-header">Hero Unit with Long Shout and Photo</h2>

<div class="wvu-hero wvu-hero--long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="wvu-hero__container">
		<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $shout-length: 'long';
</pre>
</div>

<h2 class="element-header">Hero Unit Traditional</h2>

<div class="wvu-hero wvu-hero--traditional-audience">
	<div class="wvu-hero__container">
		<h1>Moving the earth<br>and powering its future</h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $wvu-hero-title-typeface: 'traditional-audience';
</pre>
</div>

<h2 class="element-header">Hero Unit Traditional with Grid</h2>

<div class="wvu-hero wvu-hero--traditional-audience wvu-hero--pattern-grid">
	<div class="wvu-hero__container">
		<h1>Moving the earth<br>and powering its future</h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $wvu-hero-title-typeface: 'traditional-audience';
  $has-wvu-pattern-grid: true;
</pre>
</div>

<h2 class="element-header">Hero Unit Traditional with Grid (zoomed)</h2>

<div class="wvu-hero wvu-hero--traditional-audience wvu-hero--pattern-grid wvu-hero--grid-zoom-1">
	<div class="wvu-hero__container">
		<h1>Moving the earth<br>and powering its future</h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $wvu-hero-title-typeface: 'traditional-audience';
  $has-wvu-pattern-grid: true;
  $wvu-pattern-grid-zoom: $grid-zoom-1;
</pre>
</div>

<h2 class="element-header">Hero Unit for Narrow Audience</h2>

<div class="wvu-hero wvu-hero--narrow-audience">
	<div class="wvu-hero__container">
		<h1>Let&rsquo;s go.</h1>
    <r:partial name="demo/wvu-hero-text" />
	</div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $wvu-hero-title-typeface: 'narrow-audience';
</pre>
</div>

<h2 class="element-header">Baby Hero Unit</h2>


<div class="wvu-hero wvu-hero--small-photo">
	<div class="wvu-hero__container">
		<div class="wvu-hero__copy">
  		<h1>It starts<br><span class="wvu-hero__title-bottom">Now.</span></h1>
      <r:partial name="demo/wvu-hero-text" />
		</div>
    <div class="wvu-hero__photo">
      <img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" alt="Kids sitting by tulips">
    </div>
	</div>
</div>


<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
<pre>
  &lt;r:partial name="patterns/wvu-hero" /&gt;
</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/variables.scss)</div>
<pre>
  $has-small-photo: true;
  // don&rsquo;t have a big fancy photo? no problem, use the baby hero
</pre>
</div>