<!-- WVU Masthead - wvu-pattern-library/views/patterns/_wvu-masthead.html -->

<div class="wvu-masthead wvu-masthead--has-signature">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo" />

    <!-- If you are a department and want to link to your college or school, include the following line here: 
      <a href="" class="wvu-masthead__college-link wvu-gold background">Eberly College of Arts and Sciences</a> 
    -->
    
    <r:partial name="patterns/wvu-masthead__search-bar" />
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead --> 