<!-- Super-nav - wvu-pattern-library/views/patterns/_super-av.html -->

<div class="wvu-section u-full-width u-pms-429-c background">
  <div class="wvu-container wvu-quadtych">

    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug /> omega">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
  </div>
</div>

