<h2 class="element-header">Features Diptych</h2>

<div class="wvu-section u-full-width u-pms-432-c background">

  <div class="wvu-container">
    <div class="wvu-diptych">
      <div class="wvu-spotlight">
        <div class="wvu-spotlight__image">
          <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
        </div>
        <div class="wvu-spotlight__copy">
          <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
        </div>
      </div>
    
      <div class="wvu-spotlight omega">
        <div class="wvu-spotlight__image">
          <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
        </div>
        <div class="wvu-spotlight__copy">
          <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/patterns.html)</div>
  <pre>
  &lt;div class="wvu-section u-full-width u-pms-432-c background"&gt;
    &lt;div class="wvu-container"&gt;
      &lt;div class="wvu-diptych"&gt;
        <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-spotlights-index" /&gt;</span>
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-diptych'</pre>
  <div class="code-label code-label--styles">SCSS (scss/3-layouts/layouts-dir.scss)</div>
  <pre>
  @import 'wvu-diptych'</pre>
</div>