<!-- Buttons - wvu-pattern-library/views/patterns/_buttons.html -->

<a href="" class="button button--wvu-blue">Button</a>
<a href="" class="button button--black">Button</a>
<a href="" class="button button--pms-432-c">Button</a>
<a href="" class="button button--pms-warm-gray-11">Button</a>
<a href="" class="button button--pms-warm-gray-7">Button</a>
<a href="" class="button button--pms-286-c">Button</a>
<a href="" class="button button--pms-300-c">Button</a>
<a href="" class="button button--pms-7554-c">Button</a>
<a href="" class="button button--pms-7557-c">Button</a>
<a href="" class="button button--pms-7476-c">Button</a>
<a href="" class="button button--pms-5625-c">Button</a>
<a href="" class="button button--pms-180-c">Button</a>
<a href="" class="button button--pms-166-c">Button</a>

<br>

<a href="" class="button button--wvu-gold-fill">Button</a>
<a href="" class="button button--wvu-blue-fill">Button</a>
<a href="" class="button button--black-fill">Button</a>
<a href="" class="button button--pms-432-c-fill">Button</a>
<a href="" class="button button--pms-429-c-fill">Button</a>
<a href="" class="button button--pms-warm-gray-11-fill">Button</a>
<a href="" class="button button--pms-warm-gray-7-fill">Button</a>
<a href="" class="button button--pms-warm-gray-3-fill">Button</a>
<a href="" class="button button--pms-286-c-fill">Button</a>
<a href="" class="button button--pms-300-c-fill">Button</a>
<a href="" class="button button--pms-629-c-fill">Button</a>
<a href="" class="button button--pms-7554-c-fill">Button</a>
<a href="" class="button button--pms-7557-c-fill">Button</a>
<a href="" class="button button--pms-144-c-fill">Button</a>
<a href="" class="button button--pms-7476-c-fill">Button</a>
<a href="" class="button button--pms-5625-c-fill">Button</a>
<a href="" class="button button--pms-558-c-fill">Button</a>
<a href="" class="button button--pms-180-c-fill">Button</a>
<a href="" class="button button--pms-166-c-fill">Button</a>
<a href="" class="button button--pms-115-c-fill">Button</a>

<br>

<a href="" class="button button--wvu-blue button--big button--wvu-gold-fill">Apply Now</a>
<a href="" class="button button--pms-300-c button--big button--pms-300-c-fill">Request Info</a>
<a href="" class="button button--pms-1660-c button--big button--pms-166-c-fill">Give</a>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/backpage.html)</div>
  <pre>
  &lt;a href="your-link-here" class="button button--wvu-gold"&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/1-base/base-dir.scss)</div>
  <pre>
  @import 'buttons';</pre>
</div>