<div class="slideshow-wrapper">

	<div class="flexslider">	
		<a name="maincontent"></a>

		<ul class="slides">
      <li>
        <div class="wvu-hero wvu-hero--long-shout">
        	<div class="wvu-hero__container">
      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
            <r:partial name="demo/wvu-hero-text" />
        	</div>
        </div>
      </li>
      <li>
        <div class="wvu-hero wvu-hero--long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
        	<div class="wvu-hero__container">

      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
            <r:partial name="demo/wvu-hero-text" />
          </div>
        </div>
      </li>
      <li>
        <div class="wvu-hero wvu-hero--long-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
        	<div class="wvu-hero__container">
      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
            <r:partial name="demo/wvu-hero-text" />
        	</div>
        </div>
      </li>
      <li>
        <div class="wvu-hero wvu-hero--long-shout">
        	<div class="wvu-hero__container">
      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
      			<r:partial name="demo/wvu-hero-text" />
        	</div>
        </div>
      </li>
      <li>
        <div class="wvu-hero wvu-hero--long-shout">
        	<div class="wvu-hero__container">
      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
      			<r:partial name="demo/wvu-hero-text" />
        	</div>
        </div>
      </li>
      <li>
        <div class="wvu-hero wvu-hero--long-shout">
        	<div class="wvu-hero__container">
      			<h1>The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
      			<r:partial name="demo/wvu-hero-text" />
        	</div>
        </div>
      </li>
		</ul>
  

	</div>

</div>
