  <div class="wvu-sub-nav">
    <ul>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a>
        <ul>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="" class="current-page">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
        </ul>
      </li>
      <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
      <li><a href="" class="current-page">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
    </ul>
  </div>