.m-homeVertScroller{

.title{
        max-width:100%;
}

.timeline{
	background-image: url("../images/line-1.png");
    background-position: center; 
    background-repeat: repeat-y;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 0px;
    clear: both;
    overflow: hidden;
}

.timeline li.year{
    clear: both;
    width: 4em;
    margin: 0 auto;
    line-height: 4em;
    background-color: #fff;
    border-radius:50%;
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid $WVUBlue;
    
    box-shadow: 2px 2px 2px #888888;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
}
.timeline li.year:first-child{
    margin-top:0px;
}
.timeline li.year, .timeline li.event{
    list-style-type: none;
    z-index: 999;

}

.timeline li.event{
     width: 45%;
     background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    position:relative;

    .image{
        position:absolute;
       // width: ms(13);
       // height: ms(10);
        float:left;
        background: $SecDarkOrange;
        //top: ms(7);
        //left: -(ms(13));

        &.bvb{
            background: url(../images/timeline/bvb.png) no-repeat;
            background-size: cover;
            width: ms(13);
            height: ms(10);
            top: ms(7);
            left: -(ms(13));
        }

        &.tennis{
            background: url(../images/timeline/tennis.png) no-repeat;
            background-size: cover;
            width: ms(15);
            height: ms(10);
            top: ms(3);
            left: -(ms(15));
        }

        &.gymnastics{
            background: url(../images/timeline/Y_clarck.png) no-repeat;
            background-size: cover;
            width: ms(13);
            height: ms(13);
            top: -(ms(8));
            left: -(ms(13));
        }

        &.basketball{
            background: url(../images/timeline/womensbasketball.png) no-repeat;
            background-size: cover;
            width: ms(13);
            height: ms(10);
            top: ms(5);
            left: -(ms(13));
        }

    }

    h3{ 
        @include adjust-font-size-to( $font-size-large-2); 
        //@include adjust-leading-to( $ms-3, $font-size-large-2); 
        @include rhythm($ms-1, 0, $ms-2n, $ms-3n, $font-size-large-2);
 
    }

    h4{
        @include adjust-font-size-to( $font-size-med-2); 
        //@include adjust-leading-to( $ms-3, $font-size-large-2); 
        @include rhythm(0, 0, 0, $ms-2n, $font-size-med-2);
        
    }

    p{
        @include adjust-font-size-to( $font-size-med); 
        //@include adjust-leading-to( $ms-3, $font-size-large-2); 
        @include rhythm(0, 0, 0, $ms-3n, $font-size-med);
        
    }
      
}

li.event:nth-child(odd) {
    color: $WVUBlue;
    clear:left;
    float: left;

}
li.event:nth-child(even) {
    color: $WVUBlue;
    clear: right;
    float: right;
    margin-top:100px;
    margin-bottom:50px;
}

.timeline li.event:nth-child(odd)::after {
    background:$WVUBlue;
    content: "";
    height: 2px;
    position: absolute;
    right: -11.2%;
    top: 30px;
    width: 11.2%;
    
}
li.event:nth-child(even)::before{
    background:$WVUBlue;
    content: "";
    height: 2px;
    position: absolute;
    top: 30px;
    width: 11.2%;
    left: -11.2%;
} 

@media (max-width: 640px) {
    .timeline li.event{
        width: 80%;
        background-color: #fff;
        border: 1px solid #ff0000;
        margin: 20px auto;
        padding: 20px;
        position: relative;
    }
    
    li.event:nth-child(odd) {
        color: green;
        clear: both;
        float: none;
    }
    li.event:nth-child(even) {
        color: red;
        clear: both;
        float: none;
    }
    
    .timeline li.event:nth-child(odd)::after, li.event:nth-child(even)::before {
        width: 0px;
    }
}

} //end homevertscroller