//.overthrow-enabled{
.m-homeScroller--wrapper{
	width:100%;
	float:left;
	height:ms(15); //464px
	position:relative;
	@include rhythm($ms-1, 0, 0, 1, $font-size-med);

	*:focus{ border:0; outline:0;}

	&:before{
		content:'FEATURED PIONEERS:';
		color:#4A6584;
		@extend .font-Lt;
		float:left;
		text-indent:ms(-1);
	}
}

.m-homeScroller__thumbs--wrapper{
  //@include scrollbarStyler;
  @include rhythm(0, 0, 0, 0, $font-size-med);
  //border: 1px solid gray;
  width:100%;
	height:ms(15); //464px
  position: absolute;
  left:0; 
}

.overthrow-enabled .m-homeScroller__thumbs{
	width:100%;
	position:absolute;
	overflow:hidden !important;
	height: 530px !important; //464px

	background: rgba(0,20,41,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,20,41,1) 0%, rgba(0,37,78,0) 84%, rgba(0,40,85,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,20,41,1)), color-stop(84%, rgba(0,37,78,0)), color-stop(100%, rgba(0,40,85,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,20,41,1) 0%, rgba(0,37,78,0) 84%, rgba(0,40,85,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,20,41,1) 0%, rgba(0,37,78,0) 84%, rgba(0,40,85,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,20,41,1) 0%, rgba(0,37,78,0) 84%, rgba(0,40,85,0) 100%);
	background: radial-gradient(ellipse at center, rgba(0,20,41,1) 0%, rgba(0,37,78,0) 84%, rgba(0,40,85,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001429', endColorstr='#002855', GradientType=1 );

	@include rhythm($ms-6n, $ms-0, $ms-0, $ms-6n, $font-size-med);

	ul{
	}
	li{
		list-style:none;
		width:ms(13)+20px; //356px;
		height:ms(14);//464px
		float:left !important;
		display:inline !important;
		padding:0 ms(-2) 0 ms(-2) !important;
		&:first-child{ padding-left:0;}		
		&:last-child{ }
		img{
			width:100%;
			height:auto;
			float:left;
		}
		a{
			width:100%;
		}
	}


	.ps-scrollbar-x-rail{
		background:url(../images/noise.png) repeat darken($primary, 12);
		box-shadow: darken($primary, 30) 0 ms(-10) ms(-9) 0 inset, lighten($primary, 3) 0 ms(-10) ms(-9) 0;
		height:ms(-5);
		bottom:ms(-1);
		>.ps-scrollbar-x{
			background:url(../images/noise.png) repeat lighten($WVUGold, 2);
			height:ms(-2);
			bottom:-(ms(-7));
			box-shadow: lighten($WVUGold, 20) 0 ms(-8) ms(-9) 0 inset, darken($primary, 30) 0 1px ms(-6) 0;

		}
	}
}





.m-homeScroller{
.sidescroll-nextprev{
  .sidescroll-nextprev-links{
  	top:-10px;

    a{
	  height:550px;
	  width:$ms-5+em;
	  opacity:1;
	  color:$white;

	 



	  &.sidescroll-prev{
	  	background:url(../images/postfix-arrows.png) no-repeat 2000px 2000px, 
	  	#001E3E;
	  	//background:url(../images/postfix-arrows.png) no-repeat 2000px 2000px, 
	  	//url(../images/noise.png) repeat, 
	  //	$primary linear-gradient(to right, 
	  	//	set-alpha(lighten($secondary,7), 0.1), 
	  	 //   set-alpha(darken($secondary,3), 0.3), 
	  	  //  set-alpha(darken($secondary,10),0.0));

	  	left:-(ms(3));
	  	background-position:12px -617px;
	  	border-radius: 0 70% 70%  0;
	  	border-right: tint(#001e3e, 20) 1px solid;
	  	border-left: set-alpha(tint($primary, 20),0.22) 1px solid;
	  	box-shadow: set-alpha($coolblack,0.5) 10px 0px 7px -7px;
	  	opacity:1;

	  	transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);

	  	&:hover{ background-position:12px -194px;}
	  	&.disabled{
	  	opacity:1;

	  	background-position: 1000000000px 1000000000px;

	  	box-shadow: $coolblack 6px 0px 9px -8px;
	  	//margin-left:-20px;
	    }
	  }
	  &.sidescroll-next{
	  	background:url(../images/postfix-arrows.png) no-repeat 2000px 2000px, 
	  	#001E3E; //
	  	right:-23px;
	  	background-position:-371px -617px;
	  	border-radius: 70% 0 0 70%;
	  	border-left:tint(#001e3e, 20) 1px solid;
	  	border-right: set-alpha(tint($primary, 20),0.22) 1px solid;
	  	box-shadow: set-alpha($coolblack,0.5) -10px 0px 7px -7px;

	  	transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);

	  	&:hover{ background-position:-371px -194px;}
	  	&.disabled{
	  	opacity:1;

	  	background-position: 1000000000px 1000000000px;

	  	box-shadow: $coolblack -6px 0px 9px -8px;
	  	//margin-left:-20px;
	    }

	  }
	}//a
  }//end .sidescroll-nextprev-links
}//end .sidescroll-nextprev
}
//}//end .overthrow-enabled