.m-primaryNav{
  @include rhythm($ms-2n, 0, 0, $ms-2n, $font-size-med);
  .m-primaryNav__header{}
  .m-primaryNav__navbar-nav{ 

  }//end .m-primaryNav__navbar-nav  
  .m-primaryNav__search{
  	@include breakpoint($bp-tablet-1){
  		display:none;
    }
  }//end .m-primaryNav__search
  

  @include breakpoint($bp-tablet-1){
  	.container{width:100%; max-width:100%; padding:0; margin:0;}
  	.m-primaryNav__more{ display:none;}
  	.m-primaryNav__navbar-nav a{
        $bgColor: $tertiary;
        $shadowColor: $coolblack;
        $textColor: $white;

  		color:$textColor;
  		background:$bgColor url(../images/noise.png) repeat;
  		padding:ms(-2);
  		text-shadow: 0 ms(-9) ms(-10) darken($bgColor, 10);
  		box-shadow: 0 ms(-8) 0px 0px $shadowColor;
	  	@include adjust-font-size-to($font-size-med);
		@include rhythm(0, $ms-2n, $ms-2n, 0, $font-size-med);
		border-right:ms(-10) solid darken($bgColor, 5);
		border-left: ms(-11) solid lighten($bgColor, 5);
		font-family:$BdCn;
		font-weight:800;
		min-height:1em;
		min-width:1em;
		float:left;	

		transition-property: background, box-shadow, color;
		transition-duration: 0.35s;
		transition-timing-function: ease-in;	

		 &:hover,&:focus{
		     color: lighten($textColor,10);
		     background:  url(../images/noise.png) repeat lighten($bgColor, 10);
		     box-shadow: 0 ms(-8) 0px 0px set-alpha($shadowColor, 0.5);
		     &:before{          
		     background: url(../images/noise.png) repeat lighten($bgColor, 10);
		     box-shadow: ms(-8) 0 0px 0px set-alpha($shadowColor, 0.5);
		     }
		   }//end hover
		 &:active{
		  background: url(../images/noise.png) repeat shade($bgColor, 20);
		  &:before{
		    background: url(../images/noise.png) repeat shade($bgColor, 20);
		  }
		}//end active       
  	}

  	.m-primaryNav__navbar-nav li.apply a{

  		@include flag( $white, $WVUBlue, $coolblack);
  		&:after{
  			font-family:'icomoon';
  			content:"\e64a";;
  			-webkit-font-smoothing: antialiased;
  			-moz-osx-font-smoothing: grayscale;
  			padding-left:ms(-2);
  			line-height:ms(0);
  		}
  		
  	
  	}//end m-primaryNav__navbar-nav li.apply a

  	
  }//end bp-tablet-1
}//end .m-primaryNav

/**************************************
//////////////////////////////////////
////BOOTSTRAP MOBILE NAV OPTION///////
//////////////////////////////////////
///More variables at 0_styleguide/bootstrap-variables.scss (line 327)//
**************************************/

nav{

	&.navbar-default{
		background:none;
		color:$black;
		border:0;
		box-shadow:none;
		border-raidus: 0;
		//@include standard-box-shadow();
		//@include standard-border-radius();
		.navbar-brand{
		@include breakpoint($bp-tablet-1){
			//display:none;
		 }//end breakpoint
		}//end .nave_site-logo
	}
	&.navbar{}
	.navbar-header{
		float:left;
		width:100%;

	  .navbar-toggle{
		border:0; margin:0;
		@include standard-transition;
		width:100%;		
		background:$vb-Gold url(../images/noise.png) repeat;
		box-shadow: tint($vb-Gold, 20) 0 1px 3px 0 inset, shade($white,30) 0 ms(-10) ms(-9) 0;
		color:shade($vb-Gold, 58);


		&:hover, &:focus{
			background:url(../images/noise.png) lighten($vb-Gold, 15) repeat;
		}
		&:active{
			background:url(../images/noise.png) lighten($WVUGold, 15) repeat;
		}
		&.collapsed{
			box-shadow: tint($vb-Gold, 20) 0 ms(-8) ms(-6) 0 inset, shade($black,30) 0 ms(-5) ms(-3) 0;
		}
		.navbar-toggle_title{
			text-align:left;
			margin-top:-0.24em;
			font-family:$BdCn;
			font-weight:800;
			@include adjust-font-size-to($font-size-med);
			@include rhythm($ms-3n, 0, 0, $ms-3n, $font-size-med);
			@include standard-text-shadow(tint($vb-Gold, 20));
			letter-spacing:ms(-10);
			float:left;	

			&::before{
				font-family: 'icomoon';
				content:"\e618";
				font-weight:100;
				line-height:1.2em;
				margin-top:-1px;
				float:left;
				color:shade($vb-Gold,30);
			}
		}
		.icon-bar{
			float:left;
			background-color:$WVUBlue;
			max-width:1em;
		}

	  }//end .navbar-toggle

	  .navbar-brand{
	  	background:none;
	  	color:$tertiary;
	  	@include letterpress();
	  	@include adjust-font-size-to($font-size-med);
		@include rhythm($ms-3n, $ms-2n, $ms-2n, $ms-3n, $font-size-med);
		font-family:$BdCn;
		font-weight:800;
		text-transform:uppercase;
		&:hover{
			color:$primary;
		}
		//@include vertical-align();
	  }

	}//end .navbar-header

	#nav-primary.collapse{
		padding:0;
	
	}

	#nav-primary.collapse.in{
		
		@extend .white-noise;
		background-color:$white;
		border-bottom:$vb-Gold solid;
		border-top:0;
		float:left;
		width:100%;
		margin-top:-5px;
		@include trailing-border(2px, $ms-5n);
		padding-bottom:0;
		box-shadow: shade($black,30) 0 ms(-5) ms(-3) 0;
		@include breakpoint($bp-tablet-1){
			background:none;
			border:0;
			margin:0;
			padding:0;
			box-shadow:none;
		}

		.navbar-nav{
			border:0;
			width:100%;
			margin: ms(-3) 0 0 0;
			ul{width:100%;}
			li{
				width:100%;
				float:left;
				border-bottom:shade($white, ms(-2)) solid;
				@include trailing-border(1px, $ms-7n);
				&:last-child{
					border-bottom:0;
					margin-bottom:0;
				}
				&:first-child{
					padding-top: 5px;
				}
				a{	
					background:none;
					@include standard-transition();
					@include adjust-font-size-to($font-size-med);
					@include rhythm($ms-4n, $ms-5n, $ms-6n, $ms-4n, $font-size-med);
					width:100%;

					color:$tertiary;
					font-family: $BdCn;
					font-weight:800;
					letter-spacing:ms(-10);

					&:hover, &:focus{
						color:tint($tertiary, 10);
						@include standard-text-shadow(shade($white, 14));
					}
					&:active{
						color:$primary;
					}

					

				}
			}//end li

		  @include breakpoint($bp-tablet-1){
			@include navigation-list;
			li{
				width: auto;
				color:$white;
				border:0;
				padding:0;
				margin:0;
				a{
					color:$white;
					border:0;
					padding:0;
					margin:0;
				}
			}
		  }
		}//end navbar-nav

	  .navbar--more a{
		width:100%;
		float:left;
		@extend .white-noise;
		background-color:$secondary;
		color:$primary;
		text-align:center;
		text-transform:uppercase;

		font-family:$BdCn;
		font-weight:800;
		letter-spacing:ms(-10);

		@include adjust-font-size-to($font-size-med);
		@include rhythm($ms-3n, $ms-7n, $ms-7n, 0, $font-size-med);
		@include standard-text-shadow(tint($secondary, 20));

		&:hover, &:focus{
			color:$tertiary;
		}

		&::after{
			font-family:'icomoon';
			content:'\e6c3';
			color:shade($secondary, 10);
			@include standard-text-shadow(tint($secondary, 40));
		}

	  }//end navbar--more

	}// end #nav-primary


}

/**************************************
//////////////////////////////////////
////NON-BOOTSTRAP MOBILE NAV OPTION///
//////////////////////////////////////

#hamburger{
	
	@include transition-property(border-bottom, border-top);
 	@include transition-duration(0.2s);
  	@include transition-timing-function(ease-in);
  	&:after{
  		//@extend .icon-th-list;
  		background: transparent; 
		border-bottom: 19px double shade($primary, 60); 
		border-top: 6px solid shade($primary, 60);
		height: 32px;
		max-width:$space-quad;
		}
	&:hover{
			border-bottom: 19px double shade($white, 10); 
			border-top: 6px solid shade($white, 10);
		}
	&.active{
			border-bottom: 19px double shade($secondary, 10); 
			border-top: 6px solid shade($secondary, 10);
	}

	@include breakpoint($bp-tablet){
		display:none;
	}	
				
}//end hamburger

#navWrapper{
	display:none;
	@include breakpoint($bp-tablet){
		display:block;
	}
}//end #navWrapper
*/