.m-sportcards{
	width:100%;
	float:right;

	 
	ul{
		width:100%;
		padding-left:0 !important;
	}
	li{
		width:40%;
		float:left;

		.b-sportcard__title{
			color: $white ;
			line-height:$lh-size-large ;
				font-size: $font-size-large-2;
				//@include adjust-leading-to( $ms-3, $font-size-large-2); 
				@include rhythm($ms-1, 0, $ms-2n, $ms-3n, $font-size-large-2);
		}//end b-sportcard__title
	}//end li

		 
	&[data-eq-state="small"]{
		li{
			width:100%;
		    .b-sportcard__title{ 
		     font-size: $font-size-large;
		     line-height:ms(3);
		  	}
		    
		 }
	}//end elementQueiry
	&[data-eq-state="medium"]{
		li{
		 width:100%;
		 .b-sportcard__title{ 
		    	font-size: $font-size-large;
		     line-height:ms(3);
		  	}//end .b-sportcard_title
		 }
	}//end elementQueiry
	&[data-eq-state="large"]{
		li{
		  width:49%;
		 
		  &:nth-child(odd){
		  	margin-right:2%;
		  }//end n-th child odd

		  .b-sportcard__title{ 
		  	font-size: $font-size-large;
		   line-height:ms(3) ;
			}//end .b-sportcard_title
        }
	}//end elementQueiry
	&[data-eq-state="x-large"]{
		li{
		   width:49%;

		  &:nth-child(odd){
		  	margin-right:2%;}

		    .b-sportcard__title{ 
		    	font-size: $font-size-large;
		     line-height:ms(2);
		  	}//end .b-sportcard_title
        }//end li
	}//end elementQueiry
	&[data-eq-state="xx-large"]{
		li{
		   &:nth-child(odd){
		  	margin-right:2%;
		  }
		  .b-sportcard__title{ 
		    	font-size: $font-size-large;
		     line-height:ms(1);
		  	}//end .b-sportcard_title
		  width:49%;
		 
        }//end li
	}//end elementQueiry
}//end m-sportscards