<article>
  <p class="kicker">A fresh redesign for the history of integration of sports at West Virginia University will be unveiled during the Tribute to Brown Vs. Board of Education Decision conference on Thursday, April 23rd. </p>
</article>

<ul class="l-comingSoon__cta">
  <li><a class="b-featuredLink" href="http://sportsintegration.sandbox.wvu.edu/tribute"><img src="../images/btn-feat--BrownVBoard.jpg" alt="Conference Information" /> </a></li>
  <li><a class="b-featuredLink" href="http://www.wvu.edu/~sportsintegration"><img src="../images/btn-feat--sportsInt.jpg" alt="Sports Integration at WVU" /> </a></li>
</ul>
