<section class="b-cta__about"  data-eq-pts="small:150, medium:230, large:400, x-large:550">
  <h2 class="title">About CPASS</h2>
  <ul class="nav-list">
    <li><a href="#">Discover CPASS</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" type="button" id="facStaff-drop" data-toggle="dropdown" aria-expanded="true">Faculty & Staff</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="facStaff-drop">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Administration</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Staff Listing</a></li>
        <li role="presentation" class="dropdown-header">CPASS Faculty by Program</li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Athletic Coaching Education</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Athletic Training</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Physical Education Teacher Education</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport and Excercise Psychology</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport Management</a></li>
      </ul>
    </li>
    <li><a href="#">Hall of Fame</a></li>
    <li><a href="#">Jobs at CPASS</a></li>
    <li><a href="#">Mission Statement</a></li>
    <li><a href="#">Our New Home</a></li>
    <li><a href="#">Strategic Plan</a></li>
    <li><a href="#">Visiting Committee</a></li>
    <li><a href="#">Visiting Lecturers</a></li>
  </ul> <!-- /.long-menu-navlist -->
</section>  <!-- /.about -->
