<div class="b-contact__links">
  <ul class="nav-list">
    <li><a class="contact" href="mailto:CPASS-WVU@mail.wvu.edu">Contact <span class="caps">CPASS</span></a></li>
    <li><a class="request-info" href="http://cpass.wvu.edu/info_request">Request Information</a></li>
    <li><a class="faculty" href="http://cpass.wvu.edu/faculty_staff">Faculty &#38; Staff</a> </li>
    <li><a class="feedback"href="mailto:CPASS-Webmaster@mail.wvu.edu">Website Feedback</a> </li>
 </ul>
</div><!--/#footer_contact-links-->