<div class="b-logo--wrapper">
  <div class="b-logo" data-eq-pts="x-small:0, small:200, medium:320, large:400, x-large:550">
    <r:partial name="patterns/wvu-masthead__logo" theme="CPASS: CPASS Toolkit"/>
  </div><!--end .b-logo -->

  <div class="short-menu-container">
     <nav role="navigation" class="short-menu">
      <ul class="cpass-short">
        <li><a href="#">Academics</a></li>
        <li><a href="#" class="active">Students</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
      </ul>
      <a class="more" href="#long-menu">More</a>
      </nav><!--end .short-menu-->
    </div><!--end .short-menu-container -->
</div><!--end .b-logo-wrapper-->
