<section class="b-links__community" data-eq-pts="large:300">
  <h2 class="title">Community Resources</h2>
  <div class="b-community__lap">
    <h3><a href="#">Lifetime Activities</a></h3>
    <ul class="nav-list">
      <li><a href="#">Available Courses</a></li>
      <li><a href="#">Certifcation Courses</a></li>
      <li><a href="#">Performance Enhancement</a></li>
      <li><a href="#">Register A Course</a></li>
      <li><a href="#">Stansbury Fitness Center</a></li>
      <li><a href="#">WVU Healthy Kids</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!--community--lap-->
  <div class="b-community__fit">
    <h3><a href="#">FiT Publishing</a></h3>
    <ul class="nav-list">
      <li><a href="#">Featured Books</a></li>
      <li><a href="#">Featured Authors</a></li>
      <li><a href="#">FiT News</a></li>
      <li><a href="#">Sport Marketing Quarterly</a></li>
      <li><a href="#">Sport and Entertainment Review</a></li>
      <li><a href="#">The IJSF</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!-- /.community--fit-->
  <div class="b-community__nysp">
    <h3><a href="#">NYSP</a></h3>
    <ul class="nav-list">
      <li><a href="#">Registration</a></li>
      <li><a href="#">News and updates</a></li>
      <li><a href="#">Support NYSP</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!-- /.community__nysp-->
  <div class="b-community__icpe">
    <h3><a href="#">ICPE</a></h3>
    <ul class="nav-list">
      <li><a href="#">Conferences</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!-- /.community__nysp-->
</section> <!-- /.community-->