<section class="b-links__students" data-eq-pts="large:300">
  <h2 class="title">Student Resources</h2>
  <div class="b-students__future">
    <h3><a href="#">Future Students</a></h3>
    <ul class="nav-list">
      <li><a href="#">About WVU</a></li>
      <li><a href="#">Apply Now!</a></li>
      <li><a href="#">Campus Life</a></li>
      <li><a href="#">Cost Calculator</a></li>
      <li><a href="#">Discover CPASS</a></li>
      <li><a href="#">Financial Aid</a></li>
      <li><a href="#">International Students</a></li>
      <li><a href="#">Request Information</a></li>
      <li><a href="#">Schedule a visit</a></li>
      <li><a href="#">Transfer Students</a></li>
      <li><a href="#">TOEFL & SPEAK</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!--students__future-->
  <div class="b-students__current">
    <h3><a href="#">Current Students</a></h3>
    <ul class="nav-list">
      <li><a href="#">Campus Study Areas</a></li>
      <li><a href="#">Career Services</a></li>
      <li><a href="#">Course Catalog</a></li>
      <li><a href="#">CPASS Minors</a></li>
      <li><a href="#">Event Calendar</a></li>
      <li><a href="#">Program Application Forms</a></li>
      <li><a href="#">Program Admission Requirements</a></li>
      <li><a href="#">Registars Office</a></li>
      <li><a href="#">Scholarships and Financial Aid</a></li>
      <li><a href="#">Software for Students</a></li>        
      <li><a href="#">Student Advisory Board</a></li>
      <li><a href="#">WVU Library Hours</a></li>
      <li><a href="#">Wi-Fi Login Info</a></li>
      <li><a href="#">Visiting Lecturers</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!--students__future-->
</section> <!-- /.students-->   