<section class="b-links__alumni" data-eq-pts="large:300">
  <h2 class="title">Alumni Resources</h2>
  <div class="b-alumni__main">
  <h3><a href="#">Staying in Touch</a></h3>
    <ul class="nav-list">
      <li><a href="#">Contact Alumni Relations</a></li>
      <li><a href="#">CPASS Events Calendar</a></li>
      <li><a href="#">CPASS Hall of Fame</a></li>
      <li><a href="#">Email Newsletter Signup</a></li>
      <li><a href="#">Get A Transcript</a></li>
      <li><a href="#">Join The Alumni Association</a></li>
      <li><a href="#">Mountaineer Athletic Club</a></li>
      <li><a href="#">Perspective: Alumni Magazine</a></li>
      <li><a href="#">Visiting Committee</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!--alumni--main-->
  <div class="b-alumni__giving">
    <h3><a href="#">Paying it Forward</a></h3>
    <ul class="nav-list">
      <li><a href="#">Give to CPASS</a></li>
      <li><a href="#">A State of Minds</a></li>
      <li><a href="#">WVU Foundation</a></li>
    </ul><!-- /.long-menu-navlist -->
  </div><!--alumni--giving-->
</section> <!-- /.community-->