<section class="b-links__academics" data-eq-pts="large:400">
  <h2 class="title">Academic Programs</h2>

  <table class="b-academics__programs">
    <tr class="b-academics__programs__r1">
      <td class="b-academics__programs__c1">Athletic Coaching Education</td>
      <td class="b-academics__programs__c2"><a href="#">B</a></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
    <tr class="b-academics__programs__r2">
      <td class="b-academics__programs__c1">Athletic Training</td>
      <td class="b-academics__programs__c2"><a href="#">B</a></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
    <tr class="b-academics__programs__r3">
      <td class="b-academics__programs__c1">Coaching and Sport Education</td>
      <td class="b-academics__programs__c2"></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
    <tr class="b-academics__programs__r4">
      <td class="b-academics__programs__c1">Coaching and Teaching Studies</td>
      <td class="b-academics__programs__c2"></td>
      <td class="b-academics__programs__c3"></td>
      <td class="b-academics__programs__c4"><a href="#">D</a></td>
    </tr class="b-academics__programs__r5">
    <tr>
      <td class="b-academics__programs__c1">Physical Education Teacher Education</td>
      <td class="b-academics__programs__c2"><a href="#">B</a></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"><a href="#">D</a></td>
    </tr>
    <tr class="b-academics__programs__r6">
      <td class="b-academics__programs__c1">Sport Coaching - Online</td>
      <td class="b-academics__programs__c2"></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
    <tr class="b-academics__programs__r7">
      <td class="b-academics__programs__c1">Sport Exercise Psychology</td>
      <td class="b-academics__programs__c2"><a href="#">B</a></td>
      <td class="b-academics__programs__c3"></td>
      <td class="b-academics__programs__c4"><a href="#">D</a></td>
    </tr>
    <tr class="b-academics__programs__r8">
      <td class="b-academics__programs__c1">Sport Management</td>
      <td class="b-academics__programs__c2"><a href="#">B</a></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
    <tr class="b-academics__programs__r9">
      <td class="b-academics__programs__c1">Sport Management - Online</td>
      <td class="b-academics__programs__c2"></td>
      <td class="b-academics__programs__c3"><a href="#">M</a></td>
      <td class="b-academics__programs__c4"></td>
    </tr>
  </table><!--b-academics__programs-->
  <div class="b-academics__key">
    <strong>B:</strong> bachelors, <strong>M:</strong> masters, <strong>D:</strong> doctoral
  </div>
</section><!--b-academics-->