<div class="b-playerList" data-eq-pts="small: 0, medium: 200, large:300, xlarge: 500, xxlarge:600 ">
  <h3 class="b-playerList__title">African-American Pioneers in <span class="playerlist__grandparent"><r:parent:parent:page:name /></span> who Played <r:parent:page:name /></h3>
  <!--<r:ancestor_menu ul_id="playerList" ul_class="b-playerList__players" start_depth="3" max_depth="3" active_class="active" open_class="open"/> -->
  <r:sub_menu ul_class="b-playerList__players" active_class="active" open_class="open" max_depth="3" has_children_class="your-class" />
</div>
