<div class="b-social" data-eq-pts="small: 120, medium: 200, large: 350">
<!--<span>Follow us:</span> --> 
  <a href="http://www.facebook.com/wvucpass" class="facebook"><span>Facebook us</span></a>
  <a href="https://twitter.com/WVUCPASS" class="twitter"><span>twitter</span></a>
  <a href="#" class="instagram"><span>twitter</span></a>
  <a href="http://www.linkedin.com/groups/WVU-College-Physical-Activity-Sport-7485280" class="linkedin"><span>LinkedIn</span></a>
  <a href="http://cpass.wvu.edu/news/rss" class="rss"><span>RSS</span></a>
</div><!--end .social-cpass-->