<div class="m-event__credits">
 <div class="m-event__credits__planning">
  <h2>Planning Committee</h2>
  <ul>
    <li>Ron Althouse</li>
    <li>Dana D. Brooks</li>
    <li>Garrett Ford</li>
    <li>Marjorie Fuller</li>
    <li>David Fryson</li>
    <li>Terri Howes</li>
    <li>John Mallory</li>
    <li>Shirley Robinson</li>
    <li>Dave Satterfield</li>
    <li>Michael Truell</li>
    <li>JT Thomas</li>
    <li>Larry Woods</li>
    <li><span><strong>Committee Chair:</strong>Dana D. Brooks</span></li>
  </ul>
 </div><!--end credits__planning-->
 <div class="m-event__credits__tech">
  <h2>Technical Supporters</h2>
  <ul>
    <li>John Antonik</li>
    <li>Kim Cameon</li>
    <li>Melissa McKenzie</li>
    <li>Joanne Pollitt</li>
    <li>Cole Smith</li>
    <li>Dale Wolfley</li>
  </ul>
 </div><!--end credits__tech-->
</div><!--end m-event__credits-->
