
<div class="m-homeVertScroller">
	<h2 class="title text-center">Integration Highlights</h2>
	<ul class="timeline">
	<li class="year">1950’s</li>
		
		<!--<li class="picture"><img src="../images/timeline/bvb.png"></li>-->
		<li class="event">
			<div class="image bvb"></div> 
			<h3 class="heading">Brown v. Board of Education</h3>
			<h4 class="month"><i class="fa fa-calendar"></i> May 17, 1954</h4>
		
			<p>U.S. Supreme Court delivers its decision in Brown v. Board of Education of Topeka, Kansas, eliminating the “separate but equal” policy in American public schools.</p>
		</li>
			
	<li class="year">1960’s</li>

		<li class="event">
		    
			<h3 class="heading">Football</h3>
			<h4 class="month"><i class="fa fa-calendar"></i>1962 </h4>
			<p>Dick Leftridge becomes the first first African-American to play football at WVU.</p>
		</li>

		<li class="event">
			<h3 class="heading">First African-American athlete at WVU</h3>
			<h4 class="month"><i class="fa fa-calendar"></i> 1961 </h4>
			<p>Phillip Edwards was the first African-American athlete at WVU, participating in men's track</p>
		</li>

		<li class="event">
			<h3 class="heading">Football</h3>
			<h4 class="month"><i class="fa fa-calendar"></i>1962 </h4>
			
			<p>Dick Leftridge and Roger Alford become the first African-American players to receive football scholarships at WVU.</p>
		</li>

			<li class="event">
				<h3 class="heading">Men’s basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1964 </h4>
				
				<p>Jim Lewis, Ron Williams, Ed Harvard, and Norman Holmes make WVU sports history as the first four African-American players listed on the freshman basketball team.</p>
			</li>

			<li class="event">
				<h3 class="heading">Men’s soccer</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1965</h4>
				
				<p>George Woods, Jr. became the first African American athlete to play men’s soccer at WVU.</p>
			</li>

			<li class="event">
				<h3 class="heading">Wrestling</h3>
				<h4 class="month"><i class="fa fa-calendar"></i> 1965 </h4>
				
				<p>Norman Hill was the first African American athlete to wrestle at WVU</p>
			</li>
	 <!--end 1960s-->

	<li class="year">1970’s</li>
			<li class="event">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1970</h4>
				
				<p>First African-American men’s assistant coach, Garrett Ford.</p>
			</li>

			<li class="event">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1971</h4>
				
				<p>Jim Braxton was the blocking weapon for star running back O. J. Simpson. As Simpson remarks, most of his 11,236 career rushing yards were due to Braxton.</p>
			</li>

			<li class="event">
				<h3 class="heading">Title IX Passed</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>June 23, 1972</h4>
				
				<p> Title IX of the U.S. Education Amendments is passed, prohibiting discrimination based on sex in educational institutions.</p>
			</li>

			<li class="event">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1973</h4>
				
				<p>First African-American starting quarterback, Ben Williams.</p>
			</li>

			<li class="event">
				<h3 class="heading">Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1974</h4>
				
				<p>First African-American men’s basketball graduate assistant coach, Jackie Joe Robinson.</p>
			</li>

			<li class="event">
				<h3 class="heading">Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1974</h4>
				
				<p>First all African-American starting five in men’s basketball – Levi Phillips, Eartha Faust, Warren Baker, Jerome Anderson and Larry Carr.</p>
			</li>


			<li class="event">
				<h3 class="heading">Baseball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1976</h4>
				
				<p>Bruce Clinton was offered a scholarship to become WVU’s first African-American baseball player.</p>
			</li>

			

			<li class="event">
				<h3 class="heading">Athletic Administrator</h3>
				<h4 class="month"><i class="fa fa-calendar"></i> &nbsp;1977</h4>
				
				<p>First African-American athletic administrator, Garrett Ford.</p>
			</li>

			<li class="event">
				<h3 class="heading">Women’s Track</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1976</h4>
				
				<p>First African-American female athlete – Cheryl Nabors, women’s track.</p>
			</li>

			<li class="event">
				 <div class="image tennis"></div>
				<h3 class="heading">Men’s Tennis</h3>
				<h4 class="month"><i class="fa fa-calendar"></i> &nbsp;June 23, 1977</h4>
				
				<p>Harry Moore was the first African-American athlete to participate in men’s tennis at WVU.</p>
			</li>
	<!--end 1970s-->

	<li class="year">1980’s</li>
			<li class="event">
				<h3 class="heading">Women's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>December 21, 1984</h4>
				
				<p> Georgeann Wells became the first woman to register a dunk in an official NCAA intercollegiate basketball game. She did it with a men’s regulation-size.</p>
			</li>

			<li class="event">
				<h3 class="heading">Women's tennis</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1981</h4>
				
				<p>Shirley Robinson became the first African-American female athlete at WVU, participating in women’s tennis.</p>
			</li>

			<li class="event">
				<h3 class="heading">Men's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1986</h4>
				
				<p>First African-American men’s basketball assistant coach, Ron Brown.</p>
			</li>

			<li class="event">
				<h3 class="heading">Olympic Sports</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1985</h4>
				
				<p>First African-American Olympic sports assistant coach, Nate Carr.</p>
			</li>

			<li class="event">
				<div class="image gymnastics"></div>
				<h3 class="heading">Gymnastics</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1987</h4>
				<p> Yvette Clark was the first African-American athlete to participate in women’s gymnastics at WVU.</p>
			</li>
	<!--end 1980s-->
		<li class="year">1990’s</li>
			<li class="event">
				<div class="image basketball"></div>
				<h3 class="heading">Women’s Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1993</h4>
				<p>First African-American women’s basketball assistant coach, Regina Woods.</p>
			</li>
	<!--end 1990s-->

		<li class="year">2000’s</li>
			<li class="event">
				<h3 class="heading">Soccer</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>2006</h4>
				<p>Marlon LeBlanc is hired as the head coach of men’s soccer at WVU, becoming the first African-American to be the head coach of a WVU sports team.</p>
			</li>

			<li class="event">
				<h3 class="heading">Women's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>2006</h4>
				<p>First all African-American starting five in women’s basketball – Ashley Powell, Britney Davis-White, LaQuita Owens, Chakia Cole and Olayinka Sanni.</p>
			</li>

	</ul>
</div>