
<div class="m-homeVertScroller">
	<h2 class="title text-center">Sports Integration Highlights</h2>
	<ul class="timeline">
	<li class="year">1950s</li>
		
		<!--<li class="picture"><img src="../images/timeline/bvb.png"></li>-->
		<li class="event">
			<div class="image bvb"></div> 
			<h3 class="heading">Brown v. Board of Education</h3>
			<h4 class="month"><i class="fa fa-calendar"></i> May 17, 1954</h4>
		
			<p>U.S. Supreme Court delivers its decision in Brown v. Board of Education, eliminating the “separate but equal” policy in American public schools, sparking the civil rights movement.</p>
		</li>
		
	<li class="year">1960s</li>
		<li class="event">
			<h3 class="heading">Men's Track and Field</h3>
			<h4 class="month"><i class="fa fa-calendar"></i> 1961 </h4>
			<p>Phillip Edwards becomes the first African-American student-athlete at WVU, participating in men's track and field.</p>
		</li>

		<li class="event second">
			<h3 class="heading">Football</h3>
			<h4 class="month"><i class="fa fa-calendar"></i>1962 </h4>
			
			<p>Dick Leftridge and Roger Alford become the first African-Americans to receive football scholarships at WVU.</p>
		</li>

		<li class="event">
			<h3 class="heading">Men’s basketball</h3>
			<h4 class="month"><i class="fa fa-calendar"></i>1964 </h4>
			
			<p>Jim Lewis, Ron Williams, Ed Harvard, and Norman Holmes make WVU sports history as the first four African-American players listed on the freshman basketball team.</p>
		</li>

		<li class="event">
			<h3 class="heading">Men’s soccer</h3>
			<h4 class="month"><i class="fa fa-calendar"></i>1965</h4>
				
			<p>George Woods, Jr. becomes the first African-American student-athlete to play men’s soccer at WVU. A goalkeeper, Woods helped WVU win a Southern Conference championship that year.</p>
		</li>

		<li class="event">
				<!--<div class="image wrestling"></div> -->
				<h3 class="heading">Wrestling</h3>
				<h4 class="month"><i class="fa fa-calendar"></i> 1965 </h4>
				<p>Norman Hill becomes the first African-American student-athlete to wrestle at WVU.</p>
		</li>
	 <!--end 1960s-->
	
	<li class="year">1970s</li>
			<li class="event">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1970</h4>
				
				<p> Garrett Ford becomes the first African-American men’s assistant coach at WVU, coaching running backs.</p>
			</li>
			<li class="event second">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1971</h4>
				
				<p>Jim Braxton is drafted by the Buffalo Bills and becomes the blocking weapon for star running back O. J. Simpson. As Simpson remarks, most of his 11,236 career rushing yards were due to Braxton.</p>
			</li>

			<li class="event">
				<h3 class="heading">Title IX Passed</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>June 23, 1972</h4>
				
				<p> Title IX of the U.S. Education Amendments is passed, prohibiting discrimination based on sex in educational institutions.</p>
			</li>

			<li class="event">
				<h3 class="heading">Football</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1973</h4>
				
				<p>Ben Williams is named the starting quarterback for the Mountaineers, the first African-American to do so.</p>
			</li>


			<li class="event">
				<h3 class="heading">Men's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1974</h4>
				
				<p>Jackie Joe Robinson becomes the first African-American men’s basketball graduate assistant coach.</p>
			</li>

			<li class="event">
				<h3 class="heading">Men's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1974</h4>
				
				<p>The first all-African-American starting five in men’s basketball is fielded – Levi Phillips, Eartha Faust, Warren Baker, Jerome Anderson, and Larry Carr.</p>
			</li>

			<li class="event">
				<h3 class="heading">Women’s Track</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1976</h4>
				
				<p>Cheryl Nabors helps found first varsity Women's Track and Field team at WVU, becoming one of the first African-American female student-athletes at WVU.</p>
			</li>

			<li class="event">
				<h3 class="heading">Baseball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1976</h4>
				
				<p>Bruce Clinton accepts his scholarship offer to become WVU’s first African-American baseball player.</p>
			</li>

			<li class="event">
				 <!--<div class="image tennis"></div>-->
				<h3 class="heading">Men’s Tennis</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1977</h4>
				
				<p>Harry Moore becomes the first African-American student-athlete to participate in men’s tennis at WVU.</p>
			</li>

			<li class="event">
				<h3 class="heading">Athletic Administration</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1977</h4>
				
				<p>Garrett Ford becomes WVU's first African-American athletic administrator.</p>
			</li>

	<!--end 1970s-->
    
	<li class="year">1980s</li><li class="year--clear"></li>
			<li class="event">
				<h3 class="heading">Women's Tennis</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1981</h4>
				
				<p>Shirley Robinson becomes the first African-American student-athlete to participate in women’s tennis at WVU.</p>
			</li>

			<li class="event second">
				<h3 class="heading">Women's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>December 21, 1984</h4>
				
				<p> Georgeann Wells becomes the first woman to register a dunk in an official college basketball game. She did it with a men’s-sized ball.</p>
			</li>

			<li class="event">
				<h3 class="heading">Olympic Wrestling</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1985</h4>
				
				<p>Nate Carr becomes the first African-American Olympic sports assistant coach, coaching wrestling.</p>
			</li>

			<li class="event">
				<h3 class="heading">Men's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1986</h4>
				
				<p>Ron Brown becomes the first African-American full-time men’s basketball assistant coach.</p>
			</li>

			<li class="event">
				<!--<div class="image gymnastics"></div>-->
				<h3 class="heading">Gymnastics</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1987</h4>
				<p> Yvette Clark was the first African-American student-athlete to participate in women’s gymnastics at WVU.</p>
			</li>
	<!--end 1980s-->
		<li class="year">1990s</li>
			<li class="event">
				<div class="image basketball"></div>
				<h3 class="heading">Women’s Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>1993</h4>
				<p>WVU welcomes its first African-American women’s basketball assistant coach, Regina Woods.</p>
			</li> 
	<!--end 1990s-->

		<li class="year">2000s</li>
			<li class="event"> 
				<h3 class="heading">Men's Soccer</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>2006</h4>
				<p>Marlon LeBlanc is hired as the head coach of men’s soccer at WVU, becoming the first African-American to be named as the head coach of a WVU sports team.</p>
			</li>

			<li class="event second">
				<h3 class="heading">Women's Basketball</h3>
				<h4 class="month"><i class="fa fa-calendar"></i>2006</h4>
				<p>The first all African-American starting five– Ashley Powell, Britney Davis-White, LaQuita Owens, Chakia Cole and Olayinka Sanni.</p>
			</li>

	</ul>
</div>