<div class="m-homeScroller--wrapper">
 <div class="m-homeScroller">
 <div  class="m-homeScroller__thumbs--wrapper sidescroll-nextprev snapscroll">
  <div  id="m-homeScroller--thumbs" class="m-homeScroller__thumbs overthrow sidescroll ">
    
    <ul>
      <li><div class="b-card"><a href="http://discover.cpass.wvu.edu" class="b-featureAthlete"><img alt="View this chart" src="../images/stocks/athletes/maleAthlete.jpg" />
        <div class="b-card__details">
        <span class="b-card__name">Fulton Walker</span>
        <span class="b-card__sport"><b>Sport:</b> Football</span>
        <span class="b-card__position"><b>Position:</b> Outfield</span>
        <span class="b-card__duration"><b>Played:</b> 1979-81</span>
        <span class="b-card__hometown"><b>From:</b> Martinsburg, WV</span>
        <span class="b-card__hometown">First African American athlete to participate in sports at WVU</span>
      </div>
      </a>
      
      </li>

      <li><div class="b-card"><a href="http://discover.cpass.wvu.edu" class="b-featureAthlete"><img alt="View this chart" src="../images/stocks/athletes/maleAthlete.jpg" />
        <div class="b-card__details">
        <span class="b-card__name">Fulton Walker</span>
        <span class="b-card__sport"><b>Sport:</b> Football</span>
        <span class="b-card__position"><b>Position:</b> Outfield</span>
        <span class="b-card__duration"><b>Played:</b> 1979-81</span>
        <span class="b-card__hometown"><b>From:</b> Martinsburg, WV</span>
        <span class="b-card__hometown">First African American athlete to participate in sports at WVU</span>
      </div>
      </a>
      
      </li>

      <li><div class="b-card"><a href="https://www.youtube.com/watch?v=O4XskfT6vNY" class="b-featureAthlete"><img alt="Ride a bike" src="../images/stocks/athletes/femaleAthlete.jpg" />
        <div class="b-card__details">
        <span class="b-card__name">Fulton Walker</span>
        <span class="b-card__sport"><b>Sport:</b> Football</span>
        <span class="b-card__position"><b>Position:</b> Outfield</span>
        <span class="b-card__duration"><b>Played:</b> 1979-81</span>
        <span class="b-card__hometown"><b>From:</b> Martinsburg, WV</span>
        <span class="b-card__hometown">First African American athlete to participate in sports at WVU</span>
      </div>
      </a>
      </div><!--end .b-card-->
      </li>

      <li><div class="b-card"><a href="#.pdf" class="b-featureAthlete"><img alt="Race to the finish" src="../images/stocks/athletes/maleAthlete.jpg" /></a></div><!--end .b-card--></li>
      <li><div class="b-card"><a href="http://discover.cpass.wvu.edu" class="b-featureAthlete"><img alt="View this chart" src="../images/stocks/athletes/maleAthlete.jpg" /></a></div><!--end .b-card--></li>
      <li><div class="b-card"><a href="https://www.youtube.com/watch?v=O4XskfT6vNY" class="b-featureAthlete"><img alt="Ride a bike" src="../images/stocks/athletes/femaleAthlete.jpg" /></a></div><!--end .b-card--></li>
      <li><div class="b-card"><a href="#.pdf" class="b-featureAthlete"><img alt="Race to the finish" src="../images/stocks/athletes/maleAthlete.jpg" /></a></div><!--end .b-card--></li>
     <li><div class="b-card"><a href="http://discover.cpass.wvu.edu" class="b-featureAthlete"><img alt="View this chart" src="../images/stocks/athletes/maleAthlete.jpg" /></a></div><!--end .b-card--></li>
     <li><div class="b-card"><a href="https://www.youtube.com/watch?v=O4XskfT6vNY" class="b-featureAthlete"><img alt="Ride a bike" src="../images/stocks/athletes/femaleAthlete.jpg" /></a></div><!--end .b-card--></li>
   </ul>
  </div><!--end #feature-thumbs-->
 </div><!--end .sidescroll-nextprev-->
 </div><!--end .m-scroller-->
 </div><!--end .m-scroller-wrapper-->
