<div class="long-menu">   
  
  <r:partial name="patterns/wvu-search1">
    <nav id="nav-cpass-full" class="nav container" role="navigation">
    
    <!-- example nav - replace ul/li with <r:site_menu /> -->
    <section class="academics">
      <h1>Academic Programs</h1>
      <ul class="long-menu-academicslist">
        <li>
          <h2><a href="#">Bachelor Degrees</a></h2>
          <ul>
            <li><a href="#">Athletic Coaching Education</a></li>
            <li><a href="#">Athletic Training</a></li>
            <li><a href="#">Physical Education Teacher Education</a></li>
            <li><a href="#">Sport Exercise Psychology</a></li>
            <li><a href="#">Sport Management</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="#">Masters Degrees</a></h2>
          <ul>
            <li><a href="#">Athletic Training</a></li>
            <li><a href="#">Coaching and Sport Education</a></li>
            <li><a href="#">Physical Education Teacher Education</a></li>
            <li><a href="#">Sport Coaching - Online</a></li>
            <li><a href="#">Sport Management</a></li>
            <li><a href="#">Sport Management - Online</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="#">Doctorate Degrees</a></h2>
          <ul>
            <li><a href="#">Coaching and Teaching Studies</a></li>
            <li><a href="#">Physical Education Teacher Education</a></li>
            <li><a href="#">Sport Exercise Psychology</a></li>
          </ul>
        </li>        
      </ul> <!-- /.long-menu-academicslist -->
    </section>  <!-- /.academics -->

    <section class="students">
      <h1>Student Resources</h1>
      <ul class="long-menu-navlist">
        <li><a href="#">Application Forms</a></li>
        <li><a href="#">Admission Requirements</a></li>
        <li><a href="#">Campus Study Areas</a></li>
        <li><a href="#">CPASS Minors</a></li>
        <li><a href="#">Career Services</a></li>
        <li><a href="#">CPASS Scholarships</a></li>
        <li><a href="#">Event Calendar</a></li>
        <li><a href="#">Financial Aid</a></li>
        <li><a href="#">Registars Office</a></li>
        <li><a href="#">Student Services</a></li>        
        <li><a href="#">Student Advisory Board</a></li>
        <li><a href="#">TOEFL & SPEAK</a></li>
      </ul><!-- /.long-menu-navlist -->
    </section> <!-- /.students-->   

    <section class="about">
      <h1>About CPASS</h1>
      <ul class="long-menu-navlist">
        <li><a href="#">Discover CPASS</a></li>
        <li><a href="#">Hall of Fame</a></li>
        <li><a href="#">Mission Statement</a></li>
        <li><a href="#">Our New Home</a></li>
        <li><a href="#">Strategic Plan</a></li>
        <li><a href="#">Visiting Committee</a></li>
        <li><a href="#">Visiting Lecturers</a></li>
        
        <li>
          <h2><a href="#">Faculty & Staff</a></h2>
          <ul>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Staff Listing</a></li>
            <li><a href="#">ACE Faculty</a></li>
            <li><a href="#">ATTR Faculty</a></li>
            <li><a href="#">PETE Faculty</a></li>
            <li><a href="#">SEP Faculty</a></li>
            <li><a href="#">SM Faculty</a></li>
          </ul>
        </li>
      </ul> <!-- /.long-menu-navlist -->
    </section>  <!-- /.about --> 
    
    <section class="community">
      <h1>Community Resources</h1>
      <ul class="long-menu-navlist">
        <li><a href="#">Conferences</a></li>
        <li><a href="#">FiT Publishing</a></li>
        <li><a href="#">ICPE</a></li>
        <li><a href="#">Give to CPASS</a></li>
        <li><a href="#">Jobs at CPASS</a></li>
        <li><a href="#">Lifetime Activities</a></li>
        <li><a href="#">NYSP</a></li>
      </ul><!-- /.long-menu-navlist -->
    </section> <!-- /.community-->

    <section class="connect">
      <h1>Stay Connected</h1>
      <ul class="long-menu-navlist">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">CPASS News Blog</a></li>
        <li><a href="#">Perspective: Alumni Magazine</a></li>
        <li><a href="#">CPASS on Facebook</a></li>
        <li><a href="#">CPASS on Twitter</a></li>
        <li><a href="#">CPASS on Linked-In</a></li>
      </ul><!-- /.long-menu-navlist -->
    </section> <!-- /.community-->   

    

    </nav> <!-- /.nav -->


  </div><!--end wrapper-->

  </div><!--end .long-menu-->