<div class="m-primaryNav">
  <nav class="nav navbar navbar-default" role="navigation">
    <div class="navbar-header m-primaryNav__header">
  	<!--<a class="site-logo" href="/"><r:site_name /></a> -->
  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-primary">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggle_title">MENU</span>
      </button>
    </div><!--end navbar-header-->

    <div class="navbar-collapse collapse" id="nav-primary">

     <div class="container">

      <div class="nav navbar-nav m-primaryNav__navbar-nav">
        <r:site_menu />
      </div><!--end navbar-nav-->

      <div class="m-primaryNav__search">
        <r:partial name="../patterns/wvu-masthead__search-bar" />
      </div><!--end form-search__wrapper-->

    </div><!--end container-->

    <div class="navbar--more m-primaryNav__more">
      <a href="#s-footer__cpass">More</a>
    </div>


    </div><!--/#nav-primary-->


  </nav> <!-- /.nav -->
</div>
