<div class="m-scroller--wrapper">
 <div class="m-scroller">
 <div  class="m-scroller__thumbs--wrapper sidescroll-nextprev snapscroll">
  <div  id="postfix--thumbs" class="m-scroller__thumbs overthrow sidescroll ">
    <ul>
      <li><a href="#.pdf" class="b-featuredLink"><img alt="Race to the finish" src="../images/stocks/postfix/stock1.jpg" /></a></li>
      <li><a href="http://discover.cpass.wvu.edu" class="b-featuredLink"><img alt="View this chart" src="../images/stocks/postfix/stock4.jpg" /></a></li>
      <li><a href="https://www.youtube.com/watch?v=O4XskfT6vNY" class="b-featuredLink"><img alt="Ride a bike" src="../images/stocks/postfix/stock7.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.doc" target="_blank" class="b-featuredLink"><img alt="Explore the city" src="../images/stocks/postfix/stock10.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.xls" class="b-featuredLink"><img alt="Catch that narly wave" src="../images/stocks/postfix/stock13.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.docx" class="b-featuredLink"><img alt="Rock out respectfully" src="../images/stocks/postfix/stock16.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.docX" class="b-featuredLink"><img alt="Fight your inner demons" src="../images/stocks/postfix/stock2.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.docm" class="b-featuredLink"><img alt="Jim tells great jokes" src="../images/stocks/postfix/stock5.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.dotx" class="b-featuredLink"><img alt="Walk in the park" src="../images/stocks/postfix/stock8.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.xlt" class="b-featuredLink"><img alt="Another city" src="../images/stocks/postfix/stock11.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.xlm" class="b-featuredLink"><img alt="Dive into summer" src="../images/stocks/postfix/stock14.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/adslkjf.xlsx" class="b-featuredLink"><img alt="Shred some dirt" src="../images/stocks/postfix/stock3.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/fal;sjikdf.pptx" class="b-featuredLink"><img alt="RIP Brittany" src="../images/stocks/postfix/stock6.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu/aflskjdf.zip" class="b-featuredLink"><img alt="Some beach" src="../images/stocks/postfix/stock9.jpg" /></a></li>
      <li><a href="http://jcolesmith.com" class="b-featuredLink"><img alt="Visit France" src="../images/stocks/postfix/stock12.jpg" /></a></li>
      <li><a href="http://cpass.wvu.edu" class="b-featuredLink"><img alt="Hey Batta Batta Batta" src="../images/stocks/postfix/stock15.jpg" /></a></li>
    </ul>
  </div><!--end #feature-thumbs-->
 </div><!--end .sidescroll-nextprev-->
 </div><!--end .m-scroller-->
 </div><!--end .m-scroller-wrapper-->
