<div class="m-scroller--wrapper">
 <div class="m-scroller">
 <div  class="m-scroller__thumbs--wrapper sidescroll-nextprev snapscroll">
  <div  id="postfix--thumbs" class="m-scroller__thumbs overthrow sidescroll ">
    <ul>
      <li><a href="http://cpass.wvu.edu" class="b-featuredLink"><img alt="College of Physical Activity and Sport Sciences" src="<r:image_url name="sponsors/feat-postfix__cpass.jpg"/>" /></a></li>
      <li><a href="http://cbc.wvu.edu/" class="b-featuredLink"><img alt="Center for Black Culture and Research" src="<r:image_url name="sponsors/feat-postfix__blkctr.jpg"/>" /></a></li>
      <li><a href="http://www.wvusports.com/" class="b-featuredLink"><img alt="Department of Intercollegiate Athletics" src="<r:image_url name="sponsors/feat-postfix__athletics.jpg"/>" /></a></li>
      <li><a href="http://diversity.wvu.edu/" class="b-featuredLink"><img alt="Division of Diversity, Equity and Inclusion" src="<r:image_url name="sponsors/feat-postfix__diversity.jpg" />" /></a></li>
      <li><a href="http://alumni.wvu.edu/" class="b-featuredLink"><img alt="WVU Alumni Association" src="<r:image_url name="sponsors/feat-postfix__alumni.jpg"/>" /></a></li>
      <li><a href="http://wvublackalumni.org" class="b-featuredLink"><img alt="WVU Black Alumni Association" src="<r:image_url name="sponsors/feat-postfix__blkalum.jpg"/>" /></a></li>
    </ul>
  </div><!--end #feature-thumbs-->
 </div><!--end .sidescroll-nextprev-->
 </div><!--end .m-scroller-->
 </div><!--end .m-scroller-wrapper-->
