<section id="s-header__site--event">
  <div class="container">
   <article>

     <div class="b-eventLogo">
       <img alt="Tribute To The Brown V. Board Of Education Decision: Celebrating pioneering African-American student-atheletes at WVU" src="../images/event/brownVBoard__wordmark.svg" />

     </div>
     <p class="kicker">A three-day program celebrating the 60th year since the Brown v. Board of Education decision with a tribute to pioneering African-American student-athletes at WVU.</p>
   </article>
  </div><!--.container-->
</section>
