<section id="s-header__site--event">
  <div class="container">
   <article>

     <div class="b-eventLogo">
       <img alt="Tribute To The Brown V. Board Of Education Decision: Celebrating pioneering African-American student-atheletes at WVU" src="../images/event/brownVBoard__wordmark.svg" />

     </div>
     <div class="b-CTA">
       <div class="b-CTA__textWrapper"><p class="kicker">West Virginia University invites you to join us April 23 &ndash; 25 to commemorate the pioneering African-American student-athletes at WVU.</p></div>
       <a class="b-CTA__rsvp" href="#s-rsvp">Register Today</a>
     </div>
   </article>
  </div><!--.container-->
</section>
