<section id="prefix" class="home">
  <div class="container">
  <!---###########################################################-->
  <!---###########################################################-->
  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <style>
    ol.carousel-indicators li{ background:black;}
    .carousel-control {background:blue;}
  </style>
  <ol class="carousel-indicators">
    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mainCarousel" data-slide-to="1"></li>
    <li data-target="#mainCarousel" data-slide-to="2"></li>
    <li data-target="#mainCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://lorempixel.com/output/food-q-c-640-480-1.jpg" alt="food">
      <div class="carousel-caption">
        A beautiful food stir fry
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/output/nature-q-c-640-480-5.jpg" alt="beach">
      <div class="carousel-caption">
        A beautiful sunset
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/output/food-q-c-640-480-1.jpg" alt="food">
      <div class="carousel-caption">
        A beautiful food stir fry 2
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/output/nature-q-c-640-480-5.jpg" alt="beach">
      <div class="carousel-caption">
        A beautiful sunset 2
      </div>
    </div>
   </div><!--end carousel-inner-->

   <!-- Controls -->
   <a class="carousel-control left " href="#mainCarousel" role="button" data-slide="prev" >
     <span class="icon-prev"></span>
   </a>
   <a class="carousel-control right" href="#mainCarousel" role="button" data-slide   ="next" >
     <span class="icon-next"></span>
   </a>
 
   </div><!--end #mainCarousel-->
  <!--################################################################-->
  <!--################################################################-->
  </div><!--end .container -->
</section><!--end #prefix-->