// Typography
//==================================================

$helvetica-neue-condensed-black: 'HelveticaNeueW01-97Blac', 'Helvetica W01 Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-bold: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-roman: 'HelveticaNeueW01-55Roma', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', Helvetica, Arial, sans-serif;
$iowan-old-style: 'IowanOldStyleW01-Roman', Georgia, Times, serif;
$iowan-old-style-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif;

$shout: $helvetica-neue-condensed-black !default;
$subhead: $helvetica-neue-bold !default;
$traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

$shout-font-size: 8.2em;
$shout-line-height: 0.80487em;

$helvetica-neue-bold-line-height: 1.08333333em;
$traditional-audience-line-height: 1.16666666667em;


// Links
//==================================================

$base-link-color: $pms-300-c;
$hover-link-color: $pms-166-c;
$link-border-style: 1px dotted;
$visited-link-color: $pms-286-c;

// Masthead
//==================================================

$blue-flying-wv: '../images/flying-wv-blue.png';
$wvu-masthead-two-line-lockup: false;
$wvu-masthead-background: 'blue';
$wvu-masthead-has-signature: false;

// Hero Elements
//==================================================

$hero-image: '../images/coopers-rock.jpg';
$blue-pattern-background: '../images/blue-pattern-close.jpg';
$diagonal-line-gold: '../images/gold-diagonal.svg';
$diagonal-line-blue: '../images/blue-diagonal.svg';
$diagonal-line-white: '../images/white-diagonal.svg';
$diagonal-line-gold-transparent: '../images/gold-diagonal-transparent.svg';
$diagonal-line-blue-transparent: '../images/blue-diagonal-transparent.svg';
$diagonal-line-white-transparent: '../images/white-diagonal-transparent.svg';
$wvu-pattern-grid: '../images/wvu-pattern-grid.png';
$vignetting: '../images/vignetting-2.png';

// Typography

$wvu-hero-title-typeface: $shout !default;

// Set vignetting to true if you have a photo that is busy and makes text illegible

$has-vignetting: false;

// Sets the cropping of the WVU grid pattern

$grid-zoom-1: 3340px;
$grid-zoom-2: 1720px;
$grid-zoom-3: cover;
$wvu-pattern-grid-zoom: $grid-zoom-2;

$wvu-hero-title-typeface: $shout;
$wvu-hero-title-color: white;
$is-shout-bottom-gold: true;

/*
  Options for WVU Hero Title typeface:
  $shout (Helvetica Neue Black Condensed)
  $subhead (Helvetica Bold)
  $iowan (Iowan Old Style)
  $iowan-italic (Iowan Old Style Italic)
*/

// Pick one -- Can only have one or the other (diagonal or grid)

$has-diagonal-line: false;
$has-wvu-pattern-grid: false;

$has-small-photo: false;
$shout-length: 'short';

/*
  Options for WVU Hero Title typeface:
  short
  medium
  long
*/

// Layout
$wvu-section-padding: 4em 0 4.3em 0;

// Grid
//==================================================

$gutter: golden-ratio(5em, 1) !default; // Gutter between each two columns
$max-width: em(1180) !default; // Max-width of the outer container


// AJ's Grid
//==================================================

// Grid Media Queries:
$grid-mq-tablet: 48em;
$grid-mq-desktop: 60em;

// Grid Gutters
$grid-gutter-tablet: 1.302083333333333%;
$grid-gutter-desktop: 1.041666666666667%;


// Breakpoints
//==================================================

$bp-mini: 450;
$bp-small: 570;
$bp-medium: 768;
$bp-large: 960;
$bp-xlarge: 1200;
