---
layout: default
---

<r:partial name="components/s-prefix__bio"/>

<section id="core">
 <div class="container">
  <figure class="l-bio__details">
    <r:editable_region name="bio__photo" />
    <figcaption>
      <ul>
        <li>Position: <r:editable_region name="bio__position" type="simple" /></li>
        <li>Hometown: <r:editable_region name="bio__hometown" type="simple" /></li>
        <li>Years active: <r:editable_region name="bio__yearsActive" type="simple" /></li>
      </ul>
    </figcaption>
  </figure>

  <main class="main l-bio__main" role="main">
    <article>
     <h1 class="page-name"><r:page:name /></h1>
     <r:editable_region name="bio__main" />
     <p class="l-bio__main__credits"><cite><r:editable_region name="bio__main_credits" type="simple"/></cite></p>
    </article>
  </main><!-- /.main -->

 <aside class="sidebar l-bio__playerList" role="complementary">
   <r:partial name="components/b-playerList"/>
 </aside> <!-- /.sidebar -->

 </div>
</section><!--/#core-->

 <r:partial name="components/s-postfix__default"/>
