---
layout: default
---

<r:partial name="components/s-prefix__default"/>
 
<section id="core">
 <div class="container">
  <main class="main" role="main">
    <article>
    <h1 class="icon-fb" href="#"></h1>
     <!-- <r:editable_region name="main" /> -->
      	<h2> Roger Alford</h2>
      	       <ul>
      	           <li>Position: Right Guard</li>
      	             <li>From: Wintersville, OH</li>
      	             <li>Years played: 1963-1965</li>
      	       </ul>

      	            <P>The late Roger Alford was a three year letter winner and an outstanding offensive lineman. Roger was part of the 63-48 win over Pitt in 1965 and the 28-27 upset win over ninth-ranked Syracuse in 1964 that propelled the Mountaineers into the Liberty Bowl against Utah. It was WVU's first bowl game in 10 years and, with the game played at the Atlantic City Convention Center, was the first time a Mountaineer team played indoors. Aside from his outstanding play on the field, perhaps one of the most important aspects of his career at West Virginia was the breaking of the "color barrier." Along with fullback Dick Leftridge, Roger was the first African American student-athlete to receive an athletic scholarship at West Virginia. He was named to the WVU football all-time team from 1960-69. Roger was inducted into the School of Physical Education Hall of Fame in 1996 and into the West Virginia University Hall of Fame in 1999.</P>

      	             <p>Bio courtesy WVU Sports Hall of Fame and Department of Athletics</P>
    </article>
  </main><!-- /.main -->
 
 <aside class="sidebar .b-player-list" role="complementary">
 <!-- <r:editable_region name="sidebar" /> -->
  <h4>PLAYERS</h4> <!--need to add video buttons-->
        <ul>
        <li><a href="">Roger Alford</a></li>
        <li><a href="">Mike Austin </a></li>
        <li><a href="">Gary Bane </a></li>
        <li><a href="">Harry Blake</a></li>
        <li><a href="">Richard Booker</a></li>
        <li><a href="">Roger Alford</a></li>
        <li><a href="">Mike Austin </a></li>
        <li><a href="">Gary Bane </a></li>
        <li><a href="">Harry Blake</a></li>
        <li><a href="">Richard Booker</a></li>
        <li><a href="">Roger Alford</a></li>
        <li><a href="">Mike Austin </a></li>
        <li><a href="">Gary Bane </a></li>
        <li><a href="">Harry Blake</a></li>
        <li><a href="">Richard Booker</a></li>
        </ul>
 </aside> <!-- /.sidebar -->
 
 </div>
</section><!--/#core-->

 <r:partial name="components/s-postfix__default"/>