---
layout: event
---
<r:partial name="components/s-prefix--event"/>


<section id="core" >
  <div class="container">
    <main class="main" role="main">
      <article>
        <!--<r:editable_region name="main" />-->
        <h1>Event Schedule:</h1>
        <ul class="b-eventCards">
          <li>
            <h2 class="b-eventCard__day">Thursday April 23, 2015</h2>
            <span class="b-eventCard__location">Erickson Alumni Center</span>
            <ul class="b-eventCard__functions">
              <li>
                <div class="b-eventCard__f_time">7:00 &ndash; 8:30 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Welcome</h3>
                  <ul class="b-eventCard__f_contributors">
                    <li>Athletic Director Shane Lyons</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time"></div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">The Occasion</h3>
                  <ul class="b-eventCard__f_contributors">
                    <li>David Fryson</li>
                    <li>Dana Brooks</li>
                    <li>Intro of Planning Committee</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time"></div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Tribute to Pioneers: Deceased</h3>
                  <span class="b-eventCard__f_moderator">Moderator: Garrett Ford</span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Peter Wood</li>
                    <li>Ron Williams</li>
                    <li>Roger Alford</li>
                    <li>Olivia Bradley</li>
                    <li>Jim Braxton</li>
                    <li>Ben Williams</li>
                    <li>Dick Leftridge</li>
                    <li>Curtis Price</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time"></div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">The Integration of Sports at WVU</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Dana Brooks</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time"></div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">The Paul Robeson Mahalia Jackson Gospel Choir in Concert</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Mountainlair Ballrooms</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
            </ul><!--end .b-eventCard__functions-->
          </li>
          <!--##############################################################################################-->
          <!--##################################END A DAY AT THE EVENT######################################-->
          <!--##############################################################################################-->
          <li>
            <h2 class="b-eventCard__day">Friday April 23, 2015</h2>
            <span class="b-eventCard__location">Erickson Alumni Center</span>
            <ul class="b-eventCard__functions">
              <li>
                <div class="b-eventCard__f_time">9:00 &ndash; 9:50 a.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Pioneer African-American Men</h3>
                  <span class="b-eventCard__f_moderator">Moderator: Garrett Ford</span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Garret Ford</li>
                    <li>John Mallory</li>
                    <li>Michael Truell</li>
                    <li>Phil Edwards</li>
                    <li>Fulton Walker</li>
                    <li>Larry Woods</li>
                    <li>Ed Harvard</li>
                    <li>Larry Harris</li>
                    <li>Norman Holmes</li>
                    <li>Jim Lewis</li>
                    <li>Danny Buggs</li>
                    <li>Daryl Talley</li>
                    <li>Junius Lewis</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">10:00 &ndash; 10:50 a.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">African American Quarterbacks</h3>
                  <span class="b-eventCard__f_moderator">Moderator: Tony Caridi</span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Rasheed Marshall</li>
                    <li>Geno Smith</li>
                    <li>Major Harris</li>
                    <li>Pat White</li>
                    <li>Darren Studstill</li>
                    <li>John Talley</li>
                    <li>Curt Lewis</li>
                    <li>Greg Jones</li>
                    <li>Jarret Brown</li>
                    <li>John Talley</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">11:00 &ndash; 11:50 a.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Pioneer African-American Women</h3>
                  <span class="b-eventCard__f_moderator">Moderator: Garrett Ford</span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Cathy Parson</li>
                    <li>Georgeann Wells</li>
                    <li>Shirley Robinson</li>
                    <li>Cheryl Nabors Phillips</li>
                    <li>Yvette Spratling (Clark)</li>
                    <li>Connie Ellerbe</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">12:00 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Black Graduates Recognition Lunch</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Mountainlair: Rhododendron Room</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">1:30 &ndash; 2:25 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Tribute to African American Coaches</h3>
                  <span class="b-eventCard__f_moderator">Moderator: Tony Caridi</span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Garrett Ford</li>
                    <li>Nate Carr</li>
                    <li>Ron Brown</li>
                    <li>Marlon LeBlanc</li>
                    <li>Bob Simmons</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">2:30 &ndash; 3:30 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Impact of Segregation and Integration in the Media</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li>Toni Caridi</li>
                    <li>Warren Baker</li>
                    <li>Doug Huff</li>
                    <li>John Antonik</li>
                    <li>Norm Julian</li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">3:30 &ndash; 4:30 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Social Reception</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li></li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">7:00 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">The Black Graduation Gala</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li></li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
            </ul><!--end .b-eventCard__functions-->
          </li>
          <!--##############################################################################################-->
          <!--##################################END A DAY AT THE EVENT######################################-->
          <!--##############################################################################################-->
          <li>
            <h2 class="b-eventCard__day">Saturday April 25, 2015</h2>
            <span class="b-eventCard__location">Student Recreation Center</span>
            <ul class="b-eventCard__functions">
              <li>
                <div class="b-eventCard__f_time">9:00 &ndash; 10:00 a.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Tribute to Professional and Olympic Athletes</h3>
                  <span class="b-eventCard__f_moderator">Moderators: Garrett Ford, John Mallory, and J.T. Thomas</span>
                  <ul class="b-eventCard__f_contributors">
                    <li></li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
              <li>
                <div class="b-eventCard__f_time">10:00 &ndash; 12:00 p.m.</div>
                <div class="b-eventCard__f_description">
                  <h3 class="b-eventCard__f_title">Public Meet and Greet</h3>
                  <span class="b-eventCard__f_moderator"></span>
                  <ul class="b-eventCard__f_contributors">
                    <li></li>
                  </ul>
                </div><!--end .b-eventCard__f_description-->
              </li>
            </ul><!--end .b-eventCard__functions-->
          </li>
        </ul><!--end .b-eventCards-->
      </article>
    </main><!-- /.main -->
  </div><!--end container-->
</section><!--end #core-->

<r:partial name="components/s-rsvp"/>


<r:partial name="components/s-postfix--event"/>
