---
layout: default--min
---
<r:partial name="components/s-prefix--comingSoon"/>


<section id="core" >
  <div class="container">
    <main class="main" role="main">
      <article>
        <!--<r:editable_region name="main" />-->
        <div class="b-siteLogo" data-eq-pts="xx-small:0, x-small:283, small: 371, medium: 460, large: 601, x-large:751, x-large:973, huge: 1310"><span class="pre">A HISTORY OF</span>SPORTS INTEGRATION<span class="post">AT WEST VIRGINIA UNIVERSITY</span></div>

        <p class="kicker">A fresh redesign for the history of integration of sports at West Virginia University will be unveiled during the Tribute to Brown Vs. Board of Education Decision conference on Thursday, April 23rd. </p>

      </article>
      <ul class="l-comingSoon__cta">
        <li><a class="b-featuredLink" href="http://sportsintegration.sandbox.wvu.edu/tribute"><img src="../images/btn-feat--BrownVBoard.jpg" alt="Conference Information" /> </a></li>
        <li><a class="b-featuredLink" href="http://www.wvu.edu/~sportsintegration"><img src="../images/btn-feat--sportsInt.jpg" alt="Sports Integration at WVU" /> </a></li>
      </ul>
    </main><!-- /.main -->
  </div><!--end container-->
</section><!--end #core-->


<r:partial name="components/s-postfix__default"/>
