---
layout: default--min
---
<r:partial name="components/s-prefix--comingSoon"/>


<section id="core" >
  <div class="container">
    <main class="main" role="main">
      <article>
        <!--<r:editable_region name="main" />-->
        <div class="b-siteLogo" data-eq-pts="xx-small:0, x-small:283, small: 371, medium: 460, large: 601, x-large:751, x-large:973, huge: 1310"><span class="pre">A HISTORY OF</span>SPORTS INTEGRATION<span class="post">AT WEST VIRGINIA UNIVERSITY</span></div>
        <r:editable_region name="comingSoon__kicker" />

      </article>

      <r:editable_region name="comingSoon__cta" />
      
    </main><!-- /.main -->
  </div><!--end container-->
</section><!--end #core-->


<r:partial name="components/s-postfix__default"/>
