---
layout: default
---
<r:partial name="components/s-prefix__home"/>


<section id="core" >    
  <div class="container">
    <main class="main" role="main">
      <article>
        <!--<r:editable_region name="main" />-->
           <div class="facts">
             <h2>Quick Facts</h2>
             	<ul>
                 <li><a href="">Phil Edwards</a> was the first African American athlete to participate in sports at West Virginia University</li>
                 <li><a href="">Garret Ford</a> is, as of 2006, Associate Athletic Director at West Virginia University</li>
                 <li><a href="">Jim Braxton</a> has a residence hall named in his honor</li>
                 <li><a href="">Bruce Clinton</a> was the First AFrican American to play baseball at West Virginia University</li>
                 <li><a href="">Cathy Parson</a> was the first female West Virginia basketball player to score 2,00 career points</li>
               </ul>
           
             <h2>Facilities: then and now</h2>
             </div>	
           </article>
         </main><!-- /.main -->
        
        <aside class="sidebar .b-player_list" role="complementary">
         <!-- <r:editable_region name="sidebar" /> -->
         <h4>Personal Records</h4>
             <ul>
               <li class="records">
                     <span class="year">'78</span>
                     <span class="name">Fulton Walker</h5>
                     <span class="sport">Football</span>
                     <span class="info">87 Rushing Yards Gained in a game</span>
               </li>
             
             <li class="records">
                   <span class="year">'71</span>
                   <span class="name">Harry Blake</span>
                   <span class="sport">Football</span>
                   <span class="info">94 Receiving Yards in a game</span>
             </li>

             <li class="records">
                   <span class="year">'73</span>
                   <span class="name">Larry Carr</span>
                   <span class="sport">Men's Basketball</span>
                   <span class="info">27 Points in a game</span>
             </li>

             <li class="records">
                   <span class="year">'84</span>
                   <span class="name">Georgian Wells</span>
                  <span class="sport">Womens Basketball</span>
                   <span class="info">35 Points in a game</span>
             </li>

             <li class="records">
                   <span class="year">'85</span>
                   <span class="name">Abidoue Nang</span>
                  <span class="sport">Mens Soccer</span>
                   <span class="info">2 Goals in a game</span>
                 
             </li>
         
             </ul>
         </aside> <!-- /.sidebar -->
      </article>
    </main><!-- /.main -->
  </div><!--end container-->
</section><!--end #core-->


<r:partial name="components/s-postfix__default"/>
