---
layout: default
---
<r:partial name="components/s-prefix__home"/>

<div class="template-sports-cards">
<section id="core" >
  <div class="container">
    <main class="main" role="main" style="width:100%;">
     <article>
        <r:editable_region name="main__overview" />
      </article>
      <nav>
      
        <article>
           <r:editable_region name="main__sportcard_title" />
         </article>

         <r:editable_region name="frontpage__main" />
      </nav>

      <div class="overview">
        <h1>Overview</h1>
        <p>In 1961, the so-called color barrier was broken at WVU as Phillip Edwards became the first African-American student-athlete at WVU, competing in men’s track and field. One year later, Dick Leftridge became the first African-American to play football at WVU. He and Roger Alford were the first African-Americans to receive athletic scholarships from WVU that same year.

        The inclusion of Title IX in the 1972 U.S. Education Amendments prohibited discrimination based on sex in educational institutions, allowing women to join the athletics family. One of the first African-American female student-athletes at WVU was Cheryl Nabors, who joined the women’s track and field team in 1976. She helped to lead the way for full women’s sport inclusion at WVU.

        Garrett Ford, a standout running back for the Mountaineers football team, became the first African-American coach hired at WVU when he joined the football coaching staff as an assistant in 1970. The first African-American head coach, however, was not hired until 2006, when Marlon LeBlanc took the reins of the WVU men’s soccer program.

        This is a compilation of the history of sport integration at WVU and is meant to be a living database to honor those who have paved the way through WVU athletics.</p>

      </div><!-- /.overview -->

      <div class="tribute">

        <h2>2015 Tribute Event</h2>
        <p>WVU hosted a three-day program celebrating the Brown v. Board of Education decision with a tribute to pioneering African-American student-athletes at West Virginia University. Click here to view itenerary for the event.</p>

        <a href="#"></a>

        <h3>Event Photos</h3>

          <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          </ul>

          <h3>Tribute to Deceased Pioneers</h3>

      </div><!-- /.tribute -->

    </main><!-- /.main -->

    <sidebar class="sport-cards">
      </sidebar>

  </div><!--end container-->
</section><!--end #core-->
</div>

<r:partial name="components/s-postfix__default"/>
