---
layout: default
---

<r:partial name="components/s-prefix__default"/>

<section id="core">
 <div class="container">
  <main class="main" role="main">
    <article>
     <!-- <r:editable_region name="main" /> -->
      	<h1>SPORTS</h1>

        <ul>
          <Li class="b-sportcard football"><br>
          <a class="b-sportcard__title" href="#">Football</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard wrestling">
          <a class=" b-sportcard__title" href="#">Wrestling</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard baseball">
          <a class=" b-sportcard__title" href="#">Baseball</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard basketball-m">
          <a class=" b-sportcard__title" href="#">Men's Basketball</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard tennis-m">
          <a class=" b-sportcard__title" href="#">Men's Tennis</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard soccer ">
          <a class="b-sportcard__title" href="#">Men's Soccer</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard track-m ">
          <a class="b-sportcard__title" href="#">Men's Track and Field</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard swim-w ">
          <a class="b-sportcard__title" href="#">Women's Swimming</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard basketball-w">
          <a class=" b-sportcard__title" href="#">Women's Basketball</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard gymnastics">
          <a class=" b-sportcard__title" href="#">Women's Gymnastics</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard tennis-w ">
          <a class="b-sportcard__title" href="#">Women's Tennis</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

          <li class="b-sportcard track-w ">
          <a class="b-sportcard__title" href="#">Women's Track and Field</a><br>
          <a class="b-sportcard__description" href="#"> Started during the<br>1973-1974 season</a>
          </li>

        </ul>



    </article>
  </main><!-- /.main -->

 <aside class="sidebar .b-player-list" role="complementary">
<!-- <r:editable_region name="sidebar" /> -->
 </aside> <!-- /.sidebar -->

 </div>
</section><!--/#core-->

 <r:partial name="components/s-postfix__default"/>
