---
layout: default
---

<r:partial name="components/s-prefix__default"/>
 
<section id="core">
 <div class="container">
  <main class="main" role="main">
    <article>
    <h1 class="icon-fb" href="#"></h1>
     <!-- <r:editable_region name="main" /> -->
      	<h2>SPORTS</h2>
        <ul>
          <li><a class="football" href="#">Football</a></li>
          <li><a class="wrestling" href="#">Wrestling</a></li>
          <li><a class="baseball" href="#">Baseball</a></li>
          <li><a class="basketball-m" href="#">Men's Basketball</a></li>
          <li><a class="tennis-m" href="#">Men's Tennis</a></li>
          <li><a class="soccer" href="#">Men's Soccer</a></li>
          <li><a class="track-m" href="#">Men's Track and Field</a></li>
          <li><a class="swim-w" href="#">Women's Swimming</a></li>
          <li><a class="gymnastics" href="#">Women's Gymnastics</a></li>
          <li><a class="basketball-w" href="#">Women's Basketball</a></li>
          <li><a class="tennis-w" href="#">Women's Tennis</a></li>
          <li><a class="track-w" href="#">Women's Track and Field</a></li>
        </ul>
    </article>
  </main><!-- /.main -->
 
 <aside class="sidebar .b-player-list" role="complementary">
 <r:editable_region name="sidebar" />
 </aside> <!-- /.sidebar -->
 
 </div>
</section><!--/#core-->

 <r:partial name="components/s-postfix__default"/>