---
layout: default
---

<r:partial name="components/s-prefix__sport"/>

<section id="core">
 <div class="container">
  <main class="main" role="main">
    <figure>
    <r:editable_region name="sport__teamPhoto"/>
    <figcaption>
      <r:editable_region name="sport__teamPhoto_caption"/>
    </figcaption>
    </figure>
    <article>
    <r:editable_region name="sport__main" />

    </article>
  </main><!-- /.main -->

  <aside class="sidebar l-sport_playerList" role="complementary">
    <r:partial name="components/b-playerList--sport"/>
  </aside> <!-- /.sidebar -->

 </div>
</section><!--/#core-->

 <r:partial name="components/s-postfix__default"/>
