	//PRIMARY PALLETTE
		$WVUBlue: #002855;
		$WVUGold: #eaaa00;
		$white:  #fffefb;
		$black: #2c2a29; //desaturate(shade($WVUBlue, 40),  80); //#1e262c
        $coolblack: desaturate(shade($WVUBlue, 40),  80);  //#14191f
        $coolblack2: #090b0e; //rgb(9,11,14)

    //NEUTRAL PALLETTE
        $DarkGrey: #333f48;
        $MidGrey: #adaaad;
        $WarmGrey1: #6e6259;
        $WarmGrey2: #968c83;
        $WarmGrey3: #bfb8af;
	
	//SECONDARY PALLETTE
		$SecBlue:#0033a0;
		$SecMiddleBlue: #005eb8;
        $SecLightBlue: #9bd3dd;
        $SecLightGreen: #9abeaa;
        $SecGreen: #708573;
        $SecForest: #0d5257;
        $SecLightGold: #fdda24;
        $SecLightOrange: #ed8b00;        
        $SecOrange: #e35205;
        $SecDarkOrange: #be3a34;        
        $SecOlive: #9f7d23;
        $SecBrown: #4d3d2a;

    //ACCESSABILITY PALLETTE
        $acc-red: #bb471a;
        $acc-coolgrey:#abc;
        $acc-LightGrey:#e0e0e0;
        $acc-BrightBlue:#39f;
        $acc-FlatBlue:#369;
        $acc-Purple:#60c;

    //DISCONTINUED
        $Purple: #27318b;

    //CPASS colors
    	$cpass-Vanillin:#f0e5ca;
    	$cpass-Macadamia:#cbbb9c;
        $cpass-Tan: #c88a3d;
    	$cpass-Cosmos:#93a6c4;
    	$cpass-Blue:#005b92;
    	$cpass-DarkBlue:#274152;

    //Discover Viewbook Colors    
    	$vb-DarkNavy: $DarkGrey; //#333e48;
    	$vb-RichNavy: #00447c;
        $vb-FlatNavy: #19468d;
    	$vb-Charcoal: #545456;
    	$vb-Gold: #ffd635;
    	$vb-LightBlue: #2eb0e3;  // #2eb0e3 - wasn't contrasty enough on vb-DarkGrey
        $vb-LightGrey: #8a8c8e;
        $vb-PaleGrey: #f7f7f7;


    $grey : lighten($black, 40);  
	$grey-light : darken($white, 5);
	$grey-light-2 : darken($white, 10);
	$grey-light-3 : darken($white, 15);
	$grey-med : lighten($black, 30);
	$grey-dark : lighten($black, 20);
	$grey-dark-2 : lighten($black, 10);
	$dim : rgba(0,0,0,0.5);
	$error : #f00;
	$valid : #089e00;
	$warning : red; 
	$information : #000db5;
  
 
$cs-primary: $WVUBlue;  
//$cs-secondary: $WVUBlue;
$cs-scheme: complement;
$cs-hue-offset: 70;
$cs-brightness-offest: 30;
$cs-colorblind:deuteranopia;


$primary: $WVUBlue; //#00447c; //cs-primary(); //#19468d
$secondary: #ede7dc; //cs-secondary(); $secondary: tint($pre-secondary, 85) ; // too light, darkening this up a bit. //#ede7dc
$tertiary: $SecMiddleBlue; //#0079c1; //cs-tertiary(); //#0063ff got denied by UR
$quadrary: #ffc656; //tint(lighten(cs-quadrary(),10), 20); //#ffc25b

//@include cs-test(cs-primary() cs-secondary() cs-tertiary() cs-quadrary());

//@include cs-test($primary $secondary $tertiary $quadrary);

