<div id="tabs">
  <r:get_page id="2605">
    <div class="five columns">
      <ul class="intro__tabs">
        
          <li><a href="#tabs-1"><div class="intro__rounded-photo"><r:page:content name="intro__thumb-tab1" /></div><h3><r:page:content name="intro__header-tab1" /></h3></a></li>
          <li><a href="#tabs-2"><div class="intro__rounded-photo"><r:page:content name="intro__thumb-tab2" /></div><h3><r:page:content name="intro__header-tab2" /></h3></a></li>
          <li><a href="#tabs-3"><div class="intro__rounded-photo"><r:page:content name="intro__thumb-tab3" /></div><h3><r:page:content name="intro__header-tab3" /></h3></a></li>
        
      </ul>
    </div>
    <div class="eleven columns">
      <div id="tabs-1" class="u-embed-container">
        <r:page:content name="intro__photo-tab1" />
        
        <div class="intro__caption <r:page:content name="intro__is-video-tab1" />">
          <h3><r:page:content name="intro__header-tab1" /></h3>
          <p><r:page:content name="intro__description-tab1" /></p>
          <a href="<r:page:content name="intro__url-tab1" class="intro__btn btn" />">Read More</a>
        </div>
      
      </div>
      <div id="tabs-2" class="u-embed-container">
        <r:page:content name="intro__photo-tab2" />
        
        <div class="intro__caption <r:page:content name="intro__is-video-tab2" />">
          <h3><r:page:content name="intro__header-tab2" /></h3>
          <p><r:page:content name="intro__description-tab2" /></p>
          <a href="<r:page:content name="intro__url-tab2" class="intro__btn btn" />">Read More</a>
        </div>
        
      </div>
      <div id="tabs-3" class="u-embed-container">
        <r:page:content name="intro__photo-tab3" />
        
        <div class="intro__caption <r:page:content name="intro__is-video-tab3" />">
          <h3><r:page:content name="intro__header-tab3" /></h3>
          <p><r:page:content name="intro__description-tab3" /></p>
          <a href="<r:page:content name="intro__url-tab3" class="intro__btn btn" />">Read More</a>
        </div>
        
      </div>
    </div>
  </r:get_page>
</div>