#postfix{
	background:$secondary url(../images/noise.png) repeat;
	box-shadow: darken($black,20) 0 ms(-6) ms(-3) 0, darken($secondary, 1) 0 ms(1) ms(-1) 0 inset;
	float:left;
	width:100%;
	min-height:200px;
	border-top:ms(-9) solid lighten($secondary, 3);
	border-bottom:ms(-6) solid $vb-LightBlue;


	.b-featuredLink{
		background:$secondary url(../images/noise.png) repeat;
		span.inner{
			background:$secondary url(../images/noise.png) repeat;
		}
	}

	


}//end #postfix




#postfix--thumbs{

	
	
	
}



