.s-footer__cpass--wrapper{
	float:left;
	width:100%;
	box-shadow:darken($coolblack,15) 0 ms(-5) ms(-2) 0 inset;
	background:set-alpha(darken($black, 10), 0.65);
  padding-bottom:ms(0);
}


#s-footer__cpass{
  padding:0; margin:0;
  @include rhythm($ms-0, 0, 0, $ms-0, $font-size-med);
	ul{ padding:0; margin:0;}
	//li{ padding:0; margin:0; list-style:none;}  
  @include adjust-font-size-to($base-font-size);
  ul.dropdown-menu{
    padding:ms(-2);
  }

   .title{
    border-color:$WarmGrey1;
    border-image:none;
    @include trailing-border(ms(-7), $ms-2n, $font-size-med-2, solid);
    @include adjust-font-size-to($font-size-med-2);
    @include rhythm($ms-1n, 0, 0, $ms-4n, $font-size-med-2);
    max-width:100%;     

  }

  .b-social{ 

    padding-left:ms(2);
   
  }//end .b-social

  .m-cta{
  }//end .m-cta
  .m-links{
    
  }

  //begin mobile styling
  .m-cta{
    //begin mobile styling
    @include breakpoint($bp-mobile1-1 $bp-mobile2-1+1rem){
      @include grid-mobile1;
      .nav-list li a{ }
      .b-cta__about{@include grid-span(4,1); clear:both;}
      .b-cta__events{@include grid-span(4,1); clear:both;}
      .b-cta__news{@include grid-span(4,1); }
    }

    @include breakpoint(($bp-mobile2-1+1rem) $bp-tablet-1){
      @include grid-mobile2;
      .nav-list li a{ }
      .b-cta__about{@include grid-span(3,1);}
      .b-cta__events{@include grid-span(3,4);}
      .b-cta__news{@include grid-span(6,1); clear:both; }
    }//end $bp-mobile-2

    @include breakpoint($bp-tablet-1 $bp-desktop1-1){
      @include grid-tablet;
      .nav-list li a{ }
      .b-cta__about{@include grid-span(2,1);}
      .b-cta__events{@include grid-span(2,3);}
      .b-cta__news{ @include grid-span(4,5);}
    }//end $bp-tablet

    @include breakpoint($bp-desktop1-1 $bp-desktop2-1){
      @include grid-desktop1;
      .nav-list li a{ @include adjust-font-size-to($font-size-small-2);}
      .b-cta__about{
        @include grid-span(3,1);
        .dropdown-menu a{@include adjust-font-size-to($font-size-small-2);}
      }
      .b-cta__events{@include grid-span(3,4);}
      .b-cta__news{ @include grid-span(6,7);}
      @include breakpoint($bp-desktop1-3){
         .nav-list li a{ @include adjust-font-size-to($font-size-med);}
      }
    }//end $bp-desktop-1

    @include breakpoint($bp-desktop2-1 $bp-desktop2-6){
      @include grid-desktop2;
      .nav-list li a{ }
      .b-cta__about{@include grid-span(4,1);}
      .b-cta__events{@include grid-span(4,5);}
      .b-cta__news{@include grid-span(8,9);}
      }//end $bp-desktop-2

    @include breakpoint($bp-desktop2-6){
      @include grid-desktop2;
      .nav-list li a{ }
      .b-cta__about{@include grid-span(3,1);}
      .b-cta__events{@include grid-span(6,4);}
      .b-cta__news{@include grid-span(7,10);}
      }//end $bp-desktop-2

     
  }//end .m-cta mobile styling

  .b-social{
    @include breakpoint($bp-mobile1-1 $bp-mobile2-1){
      padding-left:0;

    }
  }//end .b-social

  .m-links{
    //begin mobile styling
    @include breakpoint($bp-mobile1-1 $bp-mobile2-1+1rem){
      @include grid-mobile1;
      .nav-list li a{ }
      .b-links__academics{@include grid-span(4,1); clear:both;}
      .b-links__students{@include grid-span(4,1); clear:both;}
      .b-links__alumni{@include grid-span(4,1); clear:both;}
      .b-links__community{@include grid-span(4,1); }
    }

    @include breakpoint(($bp-mobile2-1+1rem) $bp-tablet-1){
      @include grid-mobile2;
      .nav-list li a{ }
      .b-links__academics{@include grid-span(6,1); clear:both;}
      .b-links__students{@include grid-span(6,1); clear:both;}
      .b-links__alumni{@include grid-span(6,1); clear:both;}
      .b-links__community{@include grid-span(6,1); }
    }//end $bp-mobile-2

    @include breakpoint($bp-tablet-1 $bp-desktop1-1){
      @include grid-tablet;
      .nav-list li a{ }
      .b-links__academics{@include grid-span(4,1); }
      .b-links__students{@include grid-span(4,5); }
      .b-links__alumni{@include grid-span(4,1); clear:both; }
      .b-links__community{@include grid-span(4,5); }
    }//end $bp-tablet

    @include breakpoint($bp-desktop1-1 $bp-desktop2-1){
      @include grid-desktop1;
      .nav-list li a{ @include adjust-font-size-to($font-size-small-2);}
      .b-links__academics{@include grid-span(6,1)}
      .b-links__students{@include grid-span(6,7); }
      .b-links__alumni{@include grid-span(6,1); clear:both;}
      .b-links__community{@include grid-span(6,7); }
      @include breakpoint($bp-desktop1-2){
         .nav-list li a{ }
      }
    }//end $bp-desktop-1

    @include breakpoint($bp-desktop2-1 $bp-desktop2-6){
      @include grid-desktop2;
      .nav-list li a{ @include adjust-font-size-to($font-size-small-2); }
      .b-links__academics{@include grid-span(7,1); }
      .b-links__students{@include grid-span(3,8); }
      .b-links__alumni{@include grid-span(3,11); }
      .b-links__community{@include grid-span(3,14); }
       @include breakpoint($bp-desktop2-1 $bp-desktop2-3){
         .title{ @include adjust-font-size-to($font-size-med);}
       }
      }//end $bp-desktop-2

    @include breakpoint($bp-desktop2-6){
      @include grid-desktop2;
      .nav-list li a{ @include adjust-font-size-to($font-size-small-2); }
      .b-links__academics{@include grid-span(4,1); }
      .b-links__students{@include grid-span(4,5); }
      .b-links__alumni{@include grid-span(4,9); }
      .b-links__community{@include grid-span(4,13); }
      }//end $bp-desktop-2
  }//end .m-cta mobile styling
}//end #footer #cpass-footer



