#s-header__cpass{
	min-height:1em;
	width:100%;
	float:left;

    .b-logo--wrapper{}
    .b-social{
    	margin:0 auto;
    	min-width:160px;
    	max-width:170px;
    	@include rhythm($ms-1n, 0, 0, 0, $font-size-med);
    	overflow:hidden;
    }
    .b-search{
    	@include rhythm($ms-3n, 0, 0, 0, $font-size-med);
    	
    }
    .b-mastLinks{
    	@include rhythm($ms-5n, 0, 0, 0, $font-size-small-2);
    	overflow:hidden;
    }


   @include breakpoint($bp-mobile1-1 $bp-mobile2-1+1rem){
      @include grid-mobile1;
      .b-logo--wrapper{@include grid-span(4,1); clear:both;}
      .m-mastUtils{@include grid-span(4,1);}
      //.b-mastLinks{@include grid-span(4,1); }
      //.b-social{@include grid-span(4,1); }
      .b-search, .b-mastLinks, .b-social{display:none;}
    }
    @include breakpoint(($bp-mobile2-1+1rem) $bp-tablet-1){
      @include grid-mobile2;
      .b-logo--wrapper{@include grid-span(6,1); clear:both;}
      .m-mastUtils{@include grid-span(6,1);}
      .b-mastLinks{width:50%; padding-right:ms(-3); float:left;}
      .b-social{width:41%; padding-left:ms(-3); float:right; padding-bottom:ms(-3);}
      //.b-mastLinks{@include grid-span(3,1); }
      //.b-social{@include grid-span(3,1); }
      .b-search{display:none;}
    }
    @include breakpoint($bp-tablet-1 $bp-desktop1-1){
      @include grid-tablet;
      .b-logo--wrapper{@include grid-span(4,1); clear:left; }
      .m-mastUtils{@include grid-span(4,5);}
      //.b-mastLinks{@include grid-span(2,5); }
      //.b-social{@include grid-span(2,7); }
      //.b-search{@include grid-span(3,6); clear:right;}
      .b-mastLinks{width:53%; float:left;}
      .b-social{width:47%;  float:right; padding-bottom:ms(-3); }
    }
    @include breakpoint($bp-desktop1-1 $bp-desktop2-1){
      @include grid-desktop1;
      .b-logo--wrapper{@include grid-span(7,1); clear:left; }
      .m-mastUtils{@include grid-span(5,8);}
      //.b-mastLinks{@include grid-span(3,8); }
      //.b-social{@include grid-span(2,11); }
      //.b-search{@include grid-span(4,9); clear:right;}
      .b-mastLinks{width:52%; float:left;}
      .b-social{width:48%;  float:right; padding-bottom:ms(-2); }
    }
    @include breakpoint($bp-desktop2-1){
      @include grid-desktop2;
      .b-logo--wrapper{@include grid-span(10,1); clear:left;}
      .m-mastUtils{@include grid-span(6,11);}
      //.b-mastLinks{@include grid-span(3,12); }
      //.b-social{@include grid-span(3,14); }
      //.b-search{@include grid-span(6,11); clear:right;}
      .b-mastLinks{width:53%; float:left;}
      .b-social{width:47%;  float:right; padding-bottom:ms(-1); }
    }

	/*.logo-container{
		a.logo-cpass{
		font-family:$Roman;
		text-transform: uppercase;
		font-weight:400;
		color:$white;
		&:hover{
			color:$quadrary;
			text-decoration:underline;
		}
		text-align:center;
		width:100%;
		float:left;
		@include rhythm(0, 0, $ms-1n, 0, $font-size-med);
		@include adjust-font-size-to($font-size-med);
		&:hover, &:focus{color: shade($white, 10);}
		&:visited, &:active{color:$white;}
		span{
			display: block;
		  }
		@include breakpoint($bp-mobile1-3){
			@include adjust-font-size-to($font-size-med-2);
		  }
		@include breakpoint($bp-mobile2-2-608){
			text-align:left;
			float:left;
		  }
	    }//.logo-cpass
	}//.logo-container*/


	.short-menu-container{
		display:none;

		ul.cpass-short{
			li{
				border-right: ms(-10) solid darken($vb-DarkNavy, 12);
				//box-shadow: 1px 0 0px darken($vb-DarkNavy, 6 );
				&:last-child{ border:none;}
			}
			a{
				font-family:$LtCn;
				font-weight: 200;
				color:lighten($vb-Charcoal,40);
				background:none;
				text-decoration: underline;
				@include adjust-font-size-to($font-size-med);
		  	padding: ms(-1);
		  	@include rhythm(0, $ms-3n, $ms-4n, 0, $font-size-med);
		  	&:hover{
		  		color:$quadrary;
		  	}



			}
		}


		nav a.more, nav a.more:visited {
		  background: url(../images/noise.png) darken($vb-Charcoal, 5);
		  box-shadow: inset 0 2px 10px 0 tint($vb-Charcoal, 10), 0 2px 3px 0 darken($vb-DarkNavy, 18);
		  text-shadow: 0 2px 3px darken($vb-Charcoal, 10);
		  border: ms(-11) solid darken($vb-Charcoal, 20);
		  border-top-color:tint($vb-Charcoal, 13);
		  text-transform: uppercase;
		  font-family:$BdCn;
		  font-weight:800;
		  border-radius: ms(-5);
		  @include adjust-font-size-to($font-size-med);
		  padding: ms(-4);
		  @include rhythm(0, $ms-4n, $ms-4n, 0, $font-size-med);

		  &:hover, &:focus{
		  	background-color:tint($vb-Charcoal, 10);
		  	text-shadow:0 3px 4px  darken($vb-DarkNavy, 14);
		  	&::after{

		  	}
		  }
		  &:active, &.active{
		  	background-color:$quadrary;
		  	box-shadow: inset 0 2px 10px 0 lighten($quadrary, 10);
		  	color:$vb-DarkNavy;
		  	border: ms(-11) solid darken($quadrary, 20);
		  	border-top-color:tint($quadrary, 13);
		  	text-shadow: 0 2px 3px darken($quadrary, 10);
		  	&::after{
		  		content:"\e6a3";
		  	}
		  }

  		  &::after{
		    font-family: 'icomoon';
	        speak: none;
	        font-style: normal;
	        font-weight: normal;
	        font-variant: normal;
	        text-transform: none;
	        line-height: 1;
			content:"\e6a4";
			margin-left:ms(-4);
			@include adjust-font-size-to($font-size-med-2);
			line-height:14px;
			@include rhythm(0, $ms-9n, $ms-9n, 0, $font-size-med-2);
			float:right;
		  }// end after
		}//end nav a.more
	}//end .short-menu-container

	.social-cpass{
		display:none;


		@include breakpoint($bp-mobile2-2-608){
			display:block;
			@include rhythm( $ms-3n, 0, 0, $ms-4n, $font-size-small-2);
		}
	}



	#nav-cpass{
		@include rhythm($ms-3n,0 , 0, 0, $font-size-small-2);
		border-top: ms(-8) solid $vb-DarkNavy;
		border-bottom: ms(-8) solid $vb-DarkNavy;
		float:left;
		width:100%;

		ul{margin-bottom:0;}
		li{
		  width:100%;
		  float:left;
		  &:last-child{ margin-bottom:0;}

		}
		a{
			@include adjust-font-size-to($font-size-small-2);
			@include rhythm(0, $ms-3n, $ms-3n, 0, $font-size-small-2);
			background:tint($vb-Charcoal, 10);
			width:100%;
			float:left;
			&:hover{
				color:$quadrary;
				background:tint($vb-Charcoal, 20);
			}

		}
	}//end #nav-CPASS


}//end #masthead_cpass
