#prefix.s-prefix--bio{
	margin-bottom:0;
	padding-bottom:0;
	.page-title{
		color:$white;
	}
	.breadcrumbs{
		@include rhythm($ms-8n, 0, 0, $ms-2n, $font-size-small-2);
	}
	.tabs {
		float:right;
		ul{
		  margin:0;
		  padding:0;
		}
		li{
			display:inline;
			border-left: ms(-8) solid $white;
			border-right: ms(-10) solid shade($white, 10);
			border-top: ms(-8) solid lighten($white, 20);
			background:linear-gradient($white 90%, shade($white, 10)), shade($white, 10) url(../images/noise.png) repeat;
			margin-bottom:0;
			margin-left:ms(-2);
			padding-bottom:ms(-4);
			.open, .active{
				background:$white url(../images/noise.png) repeat;
			}
			&:hover, &:focus{
				background:$white url(../images/noise.png) repeat;
			}
		}//end li
		a{
			color:$tertiary;
			padding:ms(-3);
			@include adjust-font-size-to($font-size-med);
			@include rhythm($ms-8n, $ms-6n, $ms-6n, 0, $font-size-med);
			@extend .font-BdCn;
		}

	}//end .tabs
}