.b-contact__links{
  
  li{
    float:left;
    width:100%;
  }

  ul li a{
    float:left;
    width:100%;

    @include rhythm($ms-6n, 0, 0, $ms-6n, $font-size-small-2);
    @include adjust-font-size-to($font-size-small-2);
    @include trailing-border(ms(-7), $ms-2n, $font-size-small-2, solid);
    
    &.contact{@include btn_icon($black, shade($coolblack, 30), $white, "\e60e"); }
    &.request-info{@include btn_icon($black, shade($coolblack, 30), $white, "\e6aa");}
    &.faculty{@include btn_icon($black, shade($coolblack, 30), $white, "\e651");}
    &.feedback{@include btn_icon($black, shade($coolblack, 30), $white, "\e60a");}
    &.btn-arrow{@include btn_icon($black, shade($coolblack, 30), $white);}

    &.contact.min{@include btn_icon($black, shade($coolblack, 30), $white, "\e60e", "false");}
    &.request-info.min{@include btn_icon($black, shade($coolblack, 30), $white, "\e6aa", "false");}
    &.faculty.min{@include btn_icon($black, shade($coolblack, 30), $white, "\e651","false");}
    &.feedback.min{@include btn_icon($black, shade($coolblack, 30), $white, "\e60a", "false");}
    &.btn-arrow.min{@include btn_icon($black, shade($coolblack, 30), $white, "\e6bd", "false");}

    
  }
}//end #footer_contact-links