.wvu-quicklinks {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    padding-left: 1em;
    background: url(../images/diagonal-gold.svg) no-repeat 0 7px;
    background-size: 20px;
    margin-left: 0;
  }
}