.template-bio{
	#core{

		@include breakpoint($bp-desktop2-6 ){
		  
		  .l-bio__playerList{
		  	ul li a{
		  		@include adjust-font-size-to($font-size-med-2);
		  	}
		  }//end .sidebar
		}//end $bp-desktop2-6


		@include breakpoint($bp-mobile1-1 $bp-mobile2-1+1rem){
		   @include grid-mobile1;
		   .container{ display:table; }
		   .l-bio__details{display: table-footer-group;  @include grid-span(4,1); clear:both; float:none; } 
		   .l-bio__main{@include grid-span(4,1); clear:both;}
		   .l-bio__playerList{ @include grid-span(4,1); }
		 }
		 @include breakpoint(($bp-mobile2-1+1rem) $bp-tablet-1){
		   @include grid-mobile2;
		   .container{ display:table; }
		   .l-bio__details{ display: table-footer-group; @include grid-span(6,1); clear:both;  float:none;}
		   .l-bio__main{@include grid-span(6,1); clear:both;}
		   .l-bio__playerList{@include grid-span(6,1); }
		 }
		 @include breakpoint($bp-tablet-1 $bp-desktop1-1){
		   @include grid-tablet;
		   .l-bio__details{ @include grid-span(2,7);}
		   .l-bio__main{@include grid-span(6,1); clear:left;}
		   .l-bio__playerList{@include grid-span(2,7); clear:right;}
		 }
		 @include breakpoint($bp-desktop1-1 $bp-desktop2-1){
		   @include grid-desktop1;
		   .l-bio__details{@include grid-span(3,1); }
		   .l-bio__main{@include grid-span(6,4); }
		   .l-bio__playerList{@include grid-span(3,10); }
		 }
		 @include breakpoint($bp-desktop2-1){
		   @include grid-desktop2;
		   .l-bio__details{@include grid-span(3,1); }
		   .l-bio__main{@include grid-span(9,4); }
		   .l-bio__playerList{@include grid-span(4,13); }
		 }
	}
 
  ul{
	  list-style: none;
  }
}

.l-bio__main{}
.l-bio__main__credits{
	font-size: 0.618em;
}
.l-bio__details{
	ul{ padding:0; margin:0;}
	li{ padding:0; margin:0;}
}
.l-bio__playerList{
	ul{ padding:0; margin:0;}
	li{ padding:0; margin:0;}
}
