////////////////////////
// Layouts Partials
//
// Your SMACSS Layouts go here
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
////////////////////////
 
body.template-frontpage{   
  
   #page-wrap{
   	    @include bgImage;
    } 
  

	#header{
		#s-header__cpass{}
		#s-header__site{}
	}//end #header
	#prefix{
	}
	#core{

		@include breakpoint($bp-mobile1-1 $bp-mobile2-1+1rem){
		   @include grid-mobile1;
		   .main{@include grid-span(4,1); clear:both;}
		   .sidebar{@include grid-span(4,1); }
		 }
		 @include breakpoint(($bp-mobile2-1+1rem) $bp-tablet-1){
		   @include grid-mobile2;
		   .main{@include grid-span(6,1); clear:both;}
		   .sidebar{@include grid-span(6,1); }
		 }
		 @include breakpoint($bp-tablet-1 $bp-desktop1-1){
		   @include grid-tablet;
		   .main{@include grid-span(5,1); }
		   .sidebar{@include grid-span(3,6); }
		 }
		 @include breakpoint($bp-desktop1-1 $bp-desktop2-1){
		   @include grid-desktop1;
		   .main{@include grid-span(8,1); }
		   .sidebar{@include grid-span(4,9); }
		 }
		 @include breakpoint($bp-desktop2-1){
		   @include grid-desktop2;
		   .main{@include grid-span(12,1); }
		   .sidebar{@include grid-span(4,13); }
		 }
	}// end #core
	#postfix{
	}
	#footer{
		#s-footer__site{}
		#s-footer__cpass--wrapper{}
		#s-footer__wvu--wrapper{}
	}//end #footer
	
}//end body